<div class="container-fluid">
    <div class="row">
        <div class="access-denied-page w-100 vh-100">
            <div class="access-denied-container">
                <h1>403</h1>
                <p class="text-capitalize">Access Denied <br /> Please contact to administrator!
                </p>
                <a class="btn btn-danger text-uppercase" [routerLink]="['']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Go back</a>
            </div>
        </div>
    </div>
</div>