<div *ngIf="visible" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content has-shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Standard Punch Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSaveData(f)" #f="ngForm" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label>Description: <span class="required"></span></label>
            <input type="text" class="form-control" name="description" #description="ngModel"
              [(ngModel)]="updationModel.description" required autocomplete="off">
            <div *ngIf="description.invalid && (description.dirty || description.touched || f.submitted)" class="error">
              <div *ngIf="description.errors?.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Discipline:<span class="required"></span></label>
            <ng-select name="discipline" [items]="disciplineModels" bindValue="id" bindLabel="value"
              placeholder="Select Discipline" #disciplineId="ngModel" [(ngModel)]="updationModel.disciplineId"
              [virtualScroll]="true" [loading]="isDisciplineLoadingSelect" (scrollToEnd)="onScrollToEndDiscipline()"
              (search)="onSearchDiscipline($event)" (clear)="onClearDiscipline()" required>
            </ng-select>
            <div *ngIf="disciplineId.invalid && (disciplineId.dirty || disciplineId.touched || f.submitted)"
              class="error">
              <div *ngIf="disciplineId.errors?.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Corrective Action: <span class="required"></span></label>
            <input type="text" class="form-control" name="correctiveAction" #correctiveAction="ngModel"
              [(ngModel)]="updationModel.correctiveAction" required autocomplete="off">
            <div *ngIf="correctiveAction.invalid && (correctiveAction.dirty || correctiveAction.touched || f.submitted)"
              class="error">
              <div *ngIf="correctiveAction.errors?.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Category:<span class="required"></span></label>
            <select class="form-control" name="category" id="category" #category="ngModel"
              [(ngModel)]="updationModel.category" required>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>