<div class="container-fluid h-100" id="forgotPasswordSection">
    <div class="row flex-row h-100">
        <div class="col-md-4 col-lg-4 p-0">
            <div class="bg-login">
                <div class="company-name text-center">
                    <img class="img-fluid mb-3" src="../../../assets/img/elements-logo.png" alt="Logo Company">
                    <h3>Elements</h3>
                    <p>Asset Integrity</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 my-auto">
            <div class="authentication-form mx-auto">
                <div class="card">
                    <div class="card-body p-5">
                        <!-- <h3 class="txt-forgot-password">Forgot password?</h3> -->
                        <h3 class="txt-forgot-password">{{titleLable}}</h3>

                        <p class="mt-4 text-center">Enter your email address and we'll send you an email with a link to
                            reset your password.</p>

                        <form class="forgot-password-form" (ngSubmit)="onForgotPassword(forgotPasswordForm.value)"
                            [formGroup]="forgotPasswordForm">
                            <div class="login-control">
                                <mat-form-field class="w-100">
                                    <mat-icon matSuffix>email</mat-icon>
                                    <input type="text" matInput placeholder="Email" formControlName="email" required
                                        autocomplete="off">
                                    <mat-error
                                        *ngIf="(forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched) && hasError('email', 'required')">
                                        This is required field</mat-error>
                                    <mat-error
                                        *ngIf="(forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched) && hasError('email', 'email')">
                                        Email is required and format should be john@doe.com.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="login-control">
                                Already have account? <a [routerLink]="['', 'login']">Sign in</a>
                            </div>

                            <div *ngIf="isError && !isSendMailRecoverSuccess" class="error mb-2">{{message}}</div>

                            <div *ngIf="isSendMailRecoverSuccess" class="success">
                                <p class="alert alert-success">
                                    We've sent you a verification link to the e-mail address that was originally
                                    registered for Element Hub
                                    <b>{{recoveryEmail}}</b>. If the email does not arrive soon, check your spam folder
                                    or you have not registered on the system, <a [routerLink]="['', 'register']">please
                                        register new account now.</a>
                                </p>
                            </div>

                            <div class="text-center">
                                <button [disabled]="clientState.isBusy" *ngIf="!isSendMailRecoverSuccess"
                                    class="btn btn-primary btn-signIn mb-0">Send
                                    email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div [hidden]="!clientState.isBusy" class="loading-login">
                <loading-state></loading-state>
            </div>
        </div>
    </div>
</div>