<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content has-shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSaveData(f)" #f="ngForm" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label>Role <span class="required"></span></label>
            <ng-select name="roleModelsDropdown" class="multiple-custom" [items]="roleModels" [multiple]="true"
              bindValue="id" bindLabel="value" placeholder="Select role" [(ngModel)]="creationModel.roleIds"
              #roleModelsDropdown="ngModel" required>
            </ng-select>
            <div
              *ngIf="roleModelsDropdown.invalid && (roleModelsDropdown.dirty || roleModelsDropdown.touched || f.submitted)"
              class="error">
              <div *ngIf="roleModelsDropdown.errors?.required">This field is required</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button mat-raised-button color="primary" class="mr-2">Save</button>
          <a mat-raised-button data-dismiss="modal" (click)="onCancel()">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>