<div class="container-fluid" id="milestonesPageSetup">
    <div class="row align-items-center no-gutters">
        <div class="col-12 col-md-4 col-lg-4">
            <a mat-raised-button [routerLink]="['', 'modules', moduleKey, 'project-settings', projectKey]">
                <i class="fas fa-arrow-left mr-1"></i>Back
            </a>
        </div>
        <div class="col-12 col-md-4 col-lg-4 text-center">
            <h2 class="page-header-title">
                {{projectManagementModel && projectManagementModel.projectName}} <i
                    class="fas fa-angle-right ml-2 mr-2"></i> Milestones Set-up
            </h2>
        </div>
        <div class="col-12 col-md-4 col-lg-4 text-right">
            <button type="submit" mat-raised-button color="primary" (click)="onSaveMileStone()">
                <i class="fas fa-save mr-1"></i> Save
            </button>
            <a mat-raised-button type="reset" class="ml-2" (click)="onResetMilestone()">
                <i class="fas fa-redo mr-1"></i> Reset
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="box has-shadow">
                <div class="box-header">
                    <h2>Milestones</h2>
                </div>

                <div class="box-body">
                    <div *ngIf="projectMilestoneModel && projectMilestoneModel.length > 0">
                        <div class="mb-3">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-12 col-md-1 col-lg-1 text-center"></div>
                                        <div class="col-12 col-md-3 col-lg-3 text-center">Milestone</div>
                                        <div class="col-12 col-md-4 col-lg-4 text-center">System/SubSystem</div>
                                        <div class="col-12 col-md-2 col-lg-2 text-center">Itr Type</div>
                                        <div class="col-12 col-md-2 col-lg-2 text-center">Punch Item</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngFor="let elem of projectMilestoneModel;let i = index">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-12 col-md-1 col-lg-1 text-center">
                                            <button type="button" class="close float-right" aria-label="Delete"
                                                (click)="onRemoveMilestoneList(elem)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-3 col-lg-3 form-group">
                                            <ng-select name="milestone" class="ng-select-height-custom"
                                                [items]="milestoneModels" bindValue="id" bindLabel="value"
                                                placeholder="Choose Milestone" #milestone="ngModel"
                                                [(ngModel)]="elem.milestoneId" (change)="onChangeMilestone(i,$event)">
                                            </ng-select>
                                        </div>
                                        <div class="col-12 col-md-2 col-lg-2 text-center">
                                            <mat-checkbox color="primary" [(ngModel)]="elem.haveSystemHO">System
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-12 col-md-2 col-lg-2 text-center">
                                            <mat-checkbox color="success" [(ngModel)]="elem.haveSubSystemHO">Sub
                                                System
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-12 col-md-2 col-lg-2 text-center">
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="elem.itrType">
                                                <mat-radio-button #buttonItrType *ngFor="let item of itrTypeModels"
                                                    [value]="item.category"
                                                    (click)="checkITRTypeRadio(buttonItrType, $event, elem)">
                                                    {{item.category}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="col-12 col-md-2 col-lg-2 text-center">
                                            <mat-radio-group aria-label="Select an option"
                                                [(ngModel)]="elem.punchCategory">
                                                <mat-radio-button #buttonPunchCategory
                                                    *ngFor="let item of punchCategoryModels" [value]="item.category"
                                                    color="primary"
                                                    (click)="checkPunchCategoryRadio(buttonPunchCategory, $event, elem)">
                                                    {{item.category}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div *ngIf="projectMilestoneModel && projectMilestoneModel.length == 0"
                        class="text-center text-danger">There is empty milestone data</div>
                    <hr />
                    <div class="row align-items-center justify-content-center">
                        <div class="col-7">
                            <button mat-raised-button color="primary" type="button" (click)="onAddMilestone()">
                                <i class="fas fa-plus mb-1 mr-1"></i> Add Milestone
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6 mt-3">
            <div class="box has-shadow">
                <div class="box-header mb-2">
                    <h2>Milestone Walkdown Signatures</h2>
                </div>

                <div class="box-body" *ngIf="projectMilestoneModel && projectMilestoneModel.length > 0">
                    <ng-container *ngFor="let item of projectMilestoneModel">
                        <div *ngIf="item.milestoneName" class="wrapper-signature">
                            <div class="d-flex">
                                <div class="title-signature">{{ item.milestoneName }}</div>
                            </div>
                            <ng-container *ngIf="item.walkDownSignatures && item.walkDownSignatures.length > 0">
                                <div class="form-group" *ngFor="let sign of item.walkDownSignatures;let i = index;">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-5 col-lg-5">
                                            <ng-select name="authorization" class="ng-select-height-custom"
                                                [items]="authorizationLevelModels" bindValue="id" bindLabel="value"
                                                placeholder="Choose Authorization" #authorization="ngModel"
                                                [(ngModel)]="sign.authorizationId">
                                            </ng-select>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6">
                                            <input type="text" class="form-control" placeholder="Signature name"
                                                name="description" #description="ngModel"
                                                [(ngModel)]="sign.description" />
                                        </div>
                                        <div class="col-12 col-md-1 col-lg-1 text-center">
                                            <button type="button" class="close float-none" aria-label="Delete"
                                                (click)="onRemoveWalkDownSignature(item,sign)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="form-group"
                                *ngIf="item.walkDownSignatures &&  item.walkDownSignatures.length == 0">
                                <div class="row align-items-center">
                                    <div class="col-12 text-center text-danger">There is empty signature data</div>
                                </div>
                            </div>
                            <button mat-raised-button color="success" type="button"
                                (click)="onAddWalkDownSignature(item)">
                                <i class="fas fa-plus mb-1 mr-1"></i> Signature
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div class="box-body text-center text-danger"
                    *ngIf="projectMilestoneModel && projectMilestoneModel.length == 0">There is empty data</div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6 mt-3">
            <div class="box has-shadow">
                <div class="box-header  mb-2">
                    <h2>Milestone Handover Signatures</h2>
                </div>

                <div class="box-body" *ngIf="projectMilestoneModel && projectMilestoneModel.length > 0">
                    <ng-container *ngFor="let item of projectMilestoneModel">
                        <div *ngIf="item.milestoneName" class="wrapper-signature">
                            <div class="d-flex">
                                <div class="title-signature">{{ item.milestoneName }}</div>
                            </div>
                            <ng-container *ngIf="item.milestoneSignatures && item.milestoneSignatures.length > 0">
                                <div class="form-group" *ngFor="let sign of item.milestoneSignatures;let i = index;">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-5 col-lg-5">
                                            <ng-select name="authorization" class="ng-select-height-custom"
                                                [items]="authorizationLevelModels" bindValue="id" bindLabel="value"
                                                placeholder="Choose Authorization" #authorization="ngModel"
                                                [(ngModel)]="sign.authorizationId">
                                            </ng-select>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6">
                                            <input type="text" class="form-control" placeholder="Signature name"
                                                name="description" #description="ngModel"
                                                [(ngModel)]="sign.description" />
                                        </div>
                                        <div class="col-12 col-md-1 col-lg-1 text-center">
                                            <button type="button" class="close float-none" aria-label="Delete"
                                                (click)="onRemoveMilestoneSignature(item,sign)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="form-group"
                                *ngIf="item.milestoneSignatures &&  item.milestoneSignatures.length == 0">
                                <div class="row align-items-center">
                                    <div class="col-12 text-center text-danger">There is empty signature data</div>
                                </div>
                            </div>
                            <button mat-raised-button color="success" type="button"
                                (click)="onAddMilestoneSignature(item)">
                                <i class="fas fa-plus mb-1 mr-1"></i> Signature
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div class="box-body text-center text-danger"
                    *ngIf="projectMilestoneModel && projectMilestoneModel.length == 0">There is empty data</div>
            </div>
        </div>
    </div>
</div>