<div class="content" id="contentSkyline">
  <div class="title">
    <div>Date</div>
    <div>Week</div>
    <div>Planned HO Cumlative</div>
    <div>Actual HO Cumlative</div>
  </div>
  <div class="scroll-content"
    [ngClass]="{'handle-scrollbar':!isPdfShow, 'remove-handle-scrollbar': removeHandleScrollbar}">
    <div *ngFor="let _ho of data2Drawing; let i = index" class="render-column">
      <div class="header-column">
        <div>{{convertDateString(_ho.date)}}</div>
        <div>{{_ho.week}}</div>
        <div>{{_ho.plannedHO}}</div>
        <div>{{_ho.actualHO}}</div>
      </div>
      <div class="body-column">
        <div *ngFor="let _items of renderModel[i]" class="column">
          <div *ngFor="let _item of _items" class="ceil-column"
            [ngClass]="{'completed-text': _item.handoverStatusId === 1, 'progress-text': _item.handoverStatusId === 3, 'overdue-text':_item.handoverStatusId === 2}">
            <div>{{_item.handoverNo}}</div>
            <div class="col"></div>
            <div>{{_item.referenceNo}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="legend">
    <div class="title">
      <div><span class="square progress-text"></span> In Progress</div>
      <div><span class="square completed-text"></span> Complete</div>
      <div><span class="square overdue-text"></span> Overdue</div>
    </div>
  </div>
</div>