<div class="position-relative mt-3" #waitingApprove>
  <div class="row no-gutters">
    <div class="col-md-9 col-lg-9">
      <a mat-mini-fab class="mat-mini-fab-sm shadow-none mr-2" color="primary" type="button" id="dropdownSearch"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()"
        matTooltip="Click to search">
        <i class="fas fa-search"></i>
      </a>

      <a mat-mini-fab class="mat-mini-fab-sm shadow-none" color="success" type="button" matTooltip="Refresh data"
        (click)="onRefreshData()">
        <i class="fas fa-sync-alt"></i>

      </a>

      <div class="dropdown dropdown-search">
        <div class="dropdown-menu p-3 mt-2" aria-labelledby="dropdownSearch" [ngClass]="{show : isToggleDropdown}">
          <button type="button" class="close mt-n2 mr-n1" aria-label="Close" (click)="toggleDropdown()">
            <span aria-hidden="true">&times;</span>
          </button>
          <form (ngSubmit)="onGetChangeList()">
            <div class="row">
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label>No:</label>
                  <input type="text" name="changeNo" placeholder="Enter no" class="form-control" #changeNo="ngModel"
                    [(ngModel)]="changePageSearchModel.changeNo">
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Title:</label>
                  <input type="text" name="title" placeholder="Enter title" class="form-control" #title="ngModel"
                    [(ngModel)]="changePageSearchModel.title">
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Type:</label>
                  <ng-select class="ng-select-height-custom" name="type" [items]="changeTypeTempLookupModel"
                    bindValue="id" bindLabel="value" placeholder="Select type" #type="ngModel"
                    [(ngModel)]="changePageSearchModel.changeType" appendTo="body" [virtualScroll]="true"
                    [loading]="loadingSelection.isLoadingType"
                    (scrollToEnd)="onScrollToEndSelect(selectionControlName.type)"
                    (search)="onSearchSelect($event, selectionControlName.type)"
                    (clear)="onClearSelect(selectionControlName.type)">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Stage:</label>
                  <ng-select class="ng-select-height-custom" name="stage" [items]="changeStageLookUpModel"
                    bindValue="value" bindLabel="value" placeholder="Select Stage" #category="ngModel" appendTo="body"
                    [(ngModel)]="changePageSearchModel.stage">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label>System:</label>
                  <ng-select class="ng-select-height-custom" name="system" [items]="systemFilterTemModels"
                    bindValue="id" bindLabel="value" placeholder="Select System" #type="ngModel"
                    [(ngModel)]="changePageSearchModel.system" appendTo="body" [virtualScroll]="true"
                    [loading]="loadingSelection.isLoadingSystem"
                    (scrollToEnd)="onScrollToEndSelect(selectionControlName.system)"
                    (search)="onSearchSelect($event, selectionControlName.system)"
                    (clear)="onClearSelect(selectionControlName.system)">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Sub System:</label>
                  <ng-select class="ng-select-height-custom" name="subSystem" [items]="subSystemFilterTempModels"
                    bindValue="id" bindLabel="value" placeholder="Select Sub-System" #type="ngModel"
                    [(ngModel)]="changePageSearchModel.subSystem" appendTo="body" [virtualScroll]="true"
                    [loading]="loadingSelection.isLoadingSubSystem"
                    (scrollToEnd)="onScrollToEndSelect(selectionControlName.subSystem)"
                    (search)="onSearchSelect($event, selectionControlName.subSystem)"
                    (clear)="onClearSelect(selectionControlName.subSystem)">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Discipline:</label>
                  <ng-select class="ng-select-height-custom" name="discipline" [items]="disciplineFilterTempModels"
                    bindValue="id" bindLabel="value" placeholder="Select Discipline" #type="ngModel"
                    [(ngModel)]="changePageSearchModel.discipline" appendTo="body" [virtualScroll]="true"
                    [loading]="loadingSelection.isLoadingDiscipline"
                    (scrollToEnd)="onScrollToEndSelect(selectionControlName.discipline)"
                    (search)="onSearchSelect($event, selectionControlName.discipline)"
                    (clear)="onClearSelect(selectionControlName.discipline)">
                  </ng-select>
                </div>
              </div>
              <div class="col-12">
                <div class="separator-dashed mt-0"></div>
              </div>

              <div class="col-12">
                <button mat-raised-button color="success" type="submit">
                  <i class="fas fa-search mr-1"></i> Search
                </button>
                <button mat-raised-button class="ml-2" type="button" (click)="onClearFilter()">
                  <i class="fas fa-eraser mr-1"></i> Clear
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">

    <div class="col-12">
      <div class="table-container table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-bordered table-hover"
          *ngIf="changePageListModel.length !== 0" matSortActive="changeNo" matSortDirection="asc" matSortDisableClear
          (matSortChange)="onSortData($event)">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <!-- <th mat-header-cell *matHeaderCellDef class="text-center">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th> -->
            <td mat-cell *matCellDef="let row" class="text-center">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="changeNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
            <td mat-cell *matCellDef="let element">
              <a
                [routerLink]="['','modules', moduleKey, 'projects', projectKey, 'change-tab', element.id]">{{element.changeNo}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let element" class="text-truncate" style="max-width: 200px;"
              matTooltip="{{element.title}}" matTooltipPosition="right">
              {{element.title}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let element" class="text-truncate" style="max-width: 200px;"
              matTooltip="{{element.description}}" matTooltipPosition="right">
              {{element.description}}</td>
          </ng-container>

          <ng-container matColumnDef="changeType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Change Type</th>
            <td mat-cell *matCellDef="let element" class="text-truncate" style="max-width: 200px;"
              matTooltip="{{element.changeType}}" matTooltipPosition="right">
              {{element.changeType}}</td>
          </ng-container>

          <ng-container matColumnDef="stageName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Stage</th>
            <td mat-cell *matCellDef="let element" class="text-truncate" style="max-width: 200px;"
              matTooltip="{{element.stageName}}" matTooltipPosition="right">
              {{element.stageName}}</td>
          </ng-container>

          <ng-container matColumnDef="justification">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Justification</th>
            <td mat-cell *matCellDef="let element" class="text-truncate" style="max-width: 200px;"
              matTooltip="{{element.justification}}" matTooltipPosition="right">{{element.justification}}</td>
          </ng-container>

          <ng-container matColumnDef="proposedSolution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Proposed Solution</th>
            <td mat-cell *matCellDef="let element" class="text-truncate" style="max-width: 200px;"
              matTooltip="{{element.proposedSolution}}" matTooltipPosition="right">{{element.proposedSolution}}</td>
          </ng-container>

          <ng-container matColumnDef="disciplines">
            <th mat-header-cell *matHeaderCellDef>Disciplines</th>
            <td mat-cell *matCellDef="let element" class="text-nowrap">
              <ng-container>
                <div *ngIf="element.disciplines && element.disciplines.length == 1">{{element.disciplines[0].value}}
                </div>
                <a *ngIf="element.disciplines && element.disciplines.length > 1" class="text-primary d-block"
                  data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#disciplineModal"
                  (click)="onShowDisciplines(element.disciplines)"><i class="fas fa-eye mr-1"></i> Multiple</a>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="systems">
            <th mat-header-cell *matHeaderCellDef>System</th>
            <td mat-cell *matCellDef="let element" class="text-nowrap">
              <ng-container>
                <div *ngIf="element.systems && element.systems.length == 1">{{element.systems[0].value}}</div>
                <a *ngIf="element.systems && element.systems.length > 1" class="text-primary d-block"
                  data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#systemsModal"
                  (click)="onShowSystems(element.systems)"><i class="fas fa-eye mr-1"></i> Multiple</a>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="subSystems">
            <th mat-header-cell *matHeaderCellDef>Sub-System</th>
            <td mat-cell *matCellDef="let element" class="text-nowrap">
              <ng-container>
                <div *ngIf="element.subsystems && element.subsystems.length == 1">{{element.subsystems[0].value}}</div>
                <a *ngIf="element.subsystems && element.subsystems.length > 1" class="text-primary d-block"
                  data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#subSystemsModal"
                  (click)="onShowSubSystems(element.subsystems)"><i class="fas fa-eye mr-1"></i> Multiple</a>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <span [ngClass]="StatusColor[element.status]" class="badge p-2 d-block">
                {{ element.status }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef class="text-center">Created By</th>
            <td mat-cell *matCellDef="let element" class="text-truncate text-center">
              <span>
                {{ element.createdBy }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef class="text-center">Created Date</th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <span>
                {{ element.createdDate }}
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="currentPageSize"
          *ngIf="changePageListModel.length !== 0 && !isFilter"
          (page)="onGetChangeList($event.pageIndex, $event.pageSize)" [length]="totalItems">
        </mat-paginator>

        <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="currentPageSize"
          *ngIf="changePageListModel.length !== 0 && isFilter"
          (page)="onGetChangeList($event.pageIndex, $event.pageSize)" [length]="totalItems">
        </mat-paginator>

        <!-- Datatable empty -->
        <table class="table table-striped table-bordered table-hover" role="grid"
          *ngIf="changePageListModel.length === 0">
          <thead role="rowgroup">
            <tr class="mat-header-row" role="row">
              <th class="mat-header-cell" role="columnheader">No</th>
              <th class="mat-header-cell" role="columnheader">Title</th>
              <th class="mat-header-cell" role="columnheader">Change Type</th>
              <th class="mat-header-cell" role="columnheader">Description</th>
              <th class="mat-header-cell" role="columnheader">Stage</th>
              <th class="mat-header-cell text-center" role="columnheader">Status</th>
              <th class="mat-header-cell" role="columnheader">Justification</th>
              <th class="mat-header-cell" role="columnheader">Proposed Solution</th>
              <th class="mat-header-cell" role="columnheader">Discipline</th>
              <th class="mat-header-cell" role="columnheader">System</th>
              <th class="mat-header-cell" role="columnheader">Sub-system</th>
              <th class="mat-header-cell" role="columnheader">Created By</th>
              <th class="mat-header-cell" role="columnheader">Created Date</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            <tr class="mat-row" role="row">
              <td class="text-center" colspan="19">
                There is no item!
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>

<div class="overlay {{isToggleDropdown ? 'is-open':''}}" (click)="toggleDropdown()" style="z-index: 10;"></div>


<confirm-modal *ngIf="isApproveState" [visible]="isApproveState" (confirm)="onApproveConfirm($event)"
  [header]="'Confirm'" [content]="'Are you sure want to approve?'"></confirm-modal>

<confirm-reason-modal *ngIf="isRejectState" [visible]="isRejectState" (reason)="onRejectConfirm($event)"
  [header]="'Confirm'" [content]="'Are you sure want to reject?'"></confirm-reason-modal>

<confirm-modal *ngIf="isCloseState" [visible]="isCloseState" (confirm)="onCloseConfirm($event)" [header]="'Confirm'"
  [content]="'Are you sure want to close?'"></confirm-modal>