<div class="container-modal-free-text-form-data-base">
  <div class="modal show d-block" id="modal-input-view" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select field from database</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="onSelectedField(false)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Select table:</label>
              <ng-select
                name="Table"
                [items]="listTable"
                bindValue="id"
                bindLabel="name"
                placeholder="Select table"
                [loading]="showLoadingScreen"
                [markFirst]="true"
                [(ngModel)]="idOfTableSelected"
                (change)="onChangeSelectTableName($event)"
              >
              </ng-select>
            </div>

            <div class="form-group">
              <label>Select field of table:</label>
              <ng-select
                *ngIf="selectedTable"
                name="FieldOfTable"
                [items]="listFieldOfTable"
                bindValue="id"
                bindLabel="name"
                placeholder="Select field of table"
                [(ngModel)]="idFieldOfTableSelected"
                (change)="onChangeSelectFieldFromDb($event)"
                [loading]="showLoadingScreen"
              >
              </ng-select>
              <ng-select
                *ngIf="!selectedTable"
                name="FieldOfTable"
                [items]="[]"
                bindValue="id"
                bindLabel="name"
                placeholder="Select field of table"
                (change)="onChangeSelectFieldFromDb($event)"
                [loading]="showLoadingScreen"
              >
              </ng-select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            mat-raised-button
            color="primary"
            (click)="onSelectedField(true)"
            [disabled]="disabledSubmit"
          >
            Save changes
          </button>
          <button
            mat-raised-button
            (click)="onSelectedField(false)"
            class="ml-2"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
