<div class="container-fluid h-100" id="registerSection">
  <div class="row flex-row h-100">
    <div class="col-md-12 col-lg-4 p-0">
      <div class="bg-login">
        <div class="company-name text-center">
          <img class="img-fluid mb-3" src="../../../assets/img/elements-logo.png" alt="Logo Company">
          <h3>Elements</h3>
          <p>Asset Integrity</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-8 my-auto">
      <div class="authentication-form mx-auto">
        <div class="card">
          <div class="card-body p-5">
            <h3 class="txt-register">Register</h3>

            <p class="mt-4 text-center">
              Please make sure you use your legal name as this may later be used for identification.
            </p>

            <form class="register-form" (ngSubmit)="onRegister(registerForm.value)" [formGroup]="registerForm"
              [hidden]="isRegisterSuccess">
              <div class="login-control">
                <mat-form-field class="w-100">
                  <mat-icon matSuffix>account_circle</mat-icon>
                  <input type="text" matInput placeholder="First name" formControlName="firstName" required
                    autocomplete="off" [(ngModel)]="userRegistrationModel.firstName">
                  <mat-error
                    *ngIf="(registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched) && hasError('firstName', 'required')">
                    This is required field
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="login-control">
                <mat-form-field class="w-100">
                  <mat-icon matSuffix>account_circle</mat-icon>
                  <input type="text" matInput placeholder="Last name" formControlName="lastName" required
                    autocomplete="off" [(ngModel)]="userRegistrationModel.surName">
                  <mat-error
                    *ngIf="(registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched) && hasError('lastName', 'required')">
                    This is required field
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="login-control">
                <mat-form-field class="w-100">
                  <mat-icon matSuffix>account_circle</mat-icon>
                  <input type="text" matInput placeholder="User name" formControlName="userName" required
                    autocomplete="off" [(ngModel)]="userRegistrationModel.userName">
                  <mat-error
                    *ngIf="(registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched) && hasError('userName', 'required')">
                    This is required field
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="login-control">
                <mat-form-field class="w-100">
                  <mat-icon matSuffix>email</mat-icon>
                  <input type="text" matInput placeholder="Primary email" formControlName="email" required
                    autocomplete="off" [(ngModel)]="userRegistrationModel.email">
                  <mat-error
                    *ngIf="(registerForm.controls['email'].dirty || registerForm.controls['email'].touched) && hasError('email', 'required')">
                    This is required field
                  </mat-error>
                  <mat-error
                    *ngIf="(registerForm.controls['email'].dirty || registerForm.controls['email'].touched) && hasError('email', 'email')">
                    Email is required and format should be john@doe.com.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="login-control">
                <mat-form-field class="w-100">
                  <mat-icon matSuffix>vpn_key</mat-icon>
                  <input type="password" matInput placeholder="New password" formControlName="password" required
                    autocomplete="off" [(ngModel)]="userRegistrationModel.password">
                  <mat-error
                    *ngIf="(registerForm.controls['password'].dirty || registerForm.controls['password'].touched) && hasError('password', 'required')">
                    This is required field
                  </mat-error>
                  <mat-error
                    *ngIf="(registerForm.controls['password'].dirty || registerForm.controls['password'].touched) && hasError('password', 'minlength')">
                    Must be at least 8 characters!
                  </mat-error>
                  <mat-error
                    *ngIf="(registerForm.controls['password'].dirty || registerForm.controls['password'].touched) && hasError('password', 'hasCapitalCase')">
                    Must contain at least 1 in Capital Case!
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="login-control">
                <mat-form-field class="w-100">
                  <mat-icon matSuffix>vpn_key</mat-icon>
                  <input type="password" matInput placeholder="Confirm password" formControlName="rePassword" required
                    autocomplete="off" [errorStateMatcher]="errorMatcher">
                  <mat-error *ngIf="registerForm.hasError('passwordsDoNotMatch')">
                    Passwords do not match
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="login-control">
                Already have account? <a [routerLink]="['', 'login']">Sign in</a>
              </div>

              <div class="text-center">
                <button *ngIf="registerForm.invalid" disabled="true"
                  class="btn btn-primary btn-signIn btn-context-menu mb-0">
                  Register
                </button>
              </div>
              <div class="text-center">
                <button *ngIf="!registerForm.invalid" class="btn btn-primary btn-signIn mb-0">
                  Register
                </button>
              </div>
            </form>

            <div [hidden]="!isRegisterSuccess" class="success">
              <p class="alert alert-success">
                We've sent you a verification email. Please check your email address:
                <b>{{userRegistrationModel.email}}</b>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div [hidden]="!clientState.isBusy" class="loading-login">
        <loading-state></loading-state>
      </div>
    </div>
  </div>
</div>