<div class="dashboard">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-4">
        <app-title class="d-flex" [title]="'Dashboard'"></app-title>
      </div>

      <div class="col-4 text-center">
        <div class="projects-list">
          <button mat-button [matMenuTriggerFor]="menuProject" [ngClass]="{ 'disabled' : !isHaveMoreProject }">
            <ngx-avatar size="40" cornerRadius="4" [round]="false" src="{{logoProject}}" class="float-left"
              *ngIf="moduleProjectDefaultModel&&moduleProjectDefaultModel.logoProject">
            </ngx-avatar>
            <ngx-avatar size="40" cornerRadius="4" [round]="false" name="{{logoProject}}" class="float-left"
              *ngIf="moduleProjectDefaultModel&&!moduleProjectDefaultModel.logoProject">
            </ngx-avatar>
            <span class="ml-2">{{moduleProjectDefaultModel && moduleProjectDefaultModel.projectName}}</span>
            <i class="fas fa-angle-down ml-2" *ngIf="isHaveMoreProject"></i>
          </button>

          <mat-menu #menuProject="matMenu" class="mt-1">
            <div *ngIf="isHaveMoreProject">
              <button mat-menu-item class="align-self-center" *ngFor="let project of projectByUserAndModuleModels"
                (click)="isTablet? onCheckValueIndexedDB(project): onSwitchProject(project)">
                <ngx-avatar size="30" cornerRadius="4" [round]="false" src="{{project.logoProject}}" class="float-left"
                  *ngIf="project.logoProject">
                </ngx-avatar>
                <ngx-avatar size="30" cornerRadius="4" [round]="false" name="{{project.projectName}}"
                  class="float-left mt-2" *ngIf="!project.logoProject">
                </ngx-avatar>
                <span class="ml-2">{{project.projectName}}</span>
              </button>
            </div>
          </mat-menu>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 text-right pt-2 pt-lg-0">
        <div class="page-header-tools">

          <button mat-raised-button class="mr-1" (click)="onFormatPosition()"
            matTooltip="Aligns Charts to top of grid">Align</button>

          <button mat-raised-button color="primary" class="mr-1" (click)="openSaveModal()" role="button"
            aria-expanded="true" data-toggle="modal" data-backdrop="static" data-keyboard="false"
            data-target="#confirmModal" aria-controls="saveModal" matTooltip="Saving charts position"
            [disabled]="!hasChangeChartPosition">Save
          </button>

          <button mat-raised-button color="success" [matMenuTriggerFor]="menuChart">Show/Hide Chart</button>

          <mat-menu #menuChart="matMenu" class="mt-1">
            <div (click)="$event.stopPropagation();">
              <mat-selection-list (selectionChange)="onSelectionChange($event)" class="pt-0">
                <mat-list-option class="mat-primary" *ngFor="let item of listCharts" [value]="item.chartCode"
                  [selected]="item.show">
                  {{item.chartName}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3" [ngStyle]="{'height.px':heightContent}">
  <gridster [options]="options" class="p-0 bg-transparent shadow">
    <gridster-item [item]="item.order" *ngFor="let item of dashboardTemp; index as i" class="shadow border">
      <div class="d-flex flex-column w-100 h-100">
        <div class="drag-handler d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i class="fas fa-arrows-alt"></i>
            <h3 class="ml-1">{{item.chartName}}</h3>
          </div>
          <div class="btn-group widget-options">
            <button type="button" class="btn btn-clean btn-sm btn-widget" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <ul>
                <li class="widget-item">
                  <a (mousedown)="onDeleteChart($event, i)" (touchstart)="onDeleteChart($event, i)">
                    <i class="fas fa-trash-alt"></i>
                    <span class="ml-2">Delete</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="h-100 w-100">
          <chart-store [type]="getChartType(item.chartCode)" [data]="getDataChart(item.chartCode)"
            [sizeGauge]="sizeGauge"></chart-store>
        </div>
      </div>
    </gridster-item>
  </gridster>
</div>

<confirm-modal *ngIf="isSaveModal" [visible]="isSaveModal" (confirm)="onSaveCharts($event)" [header]="'Confirm'"
  [content]="'Are you sure want to save?'"></confirm-modal>