<div *ngIf="visible" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content has-shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Punch List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSaveData(f)" #f="ngForm" novalidate>
        <div class="modal-body">


          <div class="form-group">
            <label>PunchList No.:</label>
            <input type="text" class="form-control" name="punchListNo" #punchListNo="ngModel"
              [(ngModel)]="updationModel.punchListNo" required autocomplete="off" disabled>
            <div *ngIf="punchListNo.invalid && (punchListNo.dirty || punchListNo.touched || f.submitted)"
              class="error">
              <div *ngIf="punchListNo.errors?.required">This field is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" name="punchListName" #punchListName="ngModel"
              [(ngModel)]="updationModel.punchListName" required></textarea>
            <div *ngIf="punchListName.invalid && (punchListName.dirty || punchListName.touched || f.submitted)"
              class="error">
              <div *ngIf="punchListName.errors?.required">This field is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>
              Discipline <span class="required"></span>
            </label>
            <select class="form-control" name="disciplineId" [(ngModel)]="updationModel.disciplineId"  #disciplineCode="ngModel" required>
              <option [ngValue]="null">Select Discipline Code</option>
              <option *ngFor="let item of disciplineModels" [value]="item.id">{{item.value}}</option>
            </select>
            <div *ngIf="disciplineCode.invalid && (disciplineCode.dirty || disciplineCode.touched || f.submitted)" class="error">
              <div *ngIf="disciplineCode.errors?.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>
              Milestone <span class="required"></span>
            </label>
            <select class="form-control" name="milestoneId" [(ngModel)]="updationModel.milestoneId" #milestone="ngModel" required>
              <option [ngValue]="null">Select Milestone Name</option>
              <option *ngFor="let item of milestoneModels" [value]="item.id">{{item.value}}</option>
            </select>
            <div *ngIf="milestone.invalid && (milestone.dirty || milestone.touched || f.submitted)" class="error">
              <div *ngIf="milestone.errors?.required">This field is required</div>
            </div>
          </div>

          <div class="form-group mat-calendar-custom">
            <label>Completed Date</label>
            <div>
              <mat-form-field class="mt-0 w-100">
                <input matInput [matDatepicker]="dtCompleted" name="dateCompleted" #dateEndPlanned="ngModel"
                  [(ngModel)]="updationModel.dateCompleted" (focus)="dtCompleted.open()">
                <mat-datepicker-toggle matSuffix [for]="dtCompleted"></mat-datepicker-toggle>
                <mat-datepicker #dtCompleted></mat-datepicker>
              </mat-form-field>
            </div>

          </div>
          <!-- <div class="form-group">
            <label>Completed</label>
            <select class="form-control" name="completed" id="completed" #completed="ngModel"
            [(ngModel)]="updationModel.completed">
              <option value="true">Complete</option>
              <option value="false">InComplete</option>
            </select>
          </div> -->

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>