<div class="modal fade" id="imageDetailPreservationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content has-shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Images</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div *ngIf="isShowImages || isShowListImage()" class="pt-3 pl-3 pr-3 mb-3 rounded imgPreservationBody">
                    <div class="row ml-n1 mr-n1">
                        <div class="col-3 pl-1 pr-1 mb-3" *ngFor="let image of detailImages; let i=index">
                            <div class="overflow-hidden border rounded position-relative">
                                <img [src]="image.src" class="w-100 h-100 img-fluid object-fit-cover"
                                    [alt]="image.src" />
                                <div class="img-view" (click)="openDetailImages(i)">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                            <a *ngIf="isInitialImageDelete" class="img-close" (click)="onRemoveImageInitial(image)">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        <div class="col-3 pl-1 pr-1 mb-3" *ngFor="let image of preservationImages; let i=index">
                            <div class="overflow-hidden border rounded position-relative">
                                <img [src]="image.imgUrl" class="w-100 h-100 img-fluid object-fit-cover"
                                    [alt]="image.imgUrl" />
                                <div class="img-view" (click)="openPreservationImages(i)">
                                    <i class="fas fa-search-plus"></i>
                                </div>
                            </div>

                            <a class="img-close" (click)="onRemoveImage(image)">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div *ngIf="onCheckPermission(permissionsViews.PRESERVATION_TAB_UPDATE_IMAGE_PRESERVATION)"
                    class="position-relative">
                    <button mat-raised-button color="primary">
                        <i class="fas fa-plus mr-2"></i>Add Image
                    </button>
                    <input id="preservationImages" type="file" accept=".jpg,.png" class="form-control-file" multiple
                        (change)="onFileChange($event)" />
                </div>
            </div>

            <div *ngIf="onCheckPermission(permissionsViews.PRESERVATION_TAB_UPDATE_IMAGE_PRESERVATION)"
                class="modal-footer">
                <button *ngIf="isSaveShow()" mat-raised-button color="primary" (click)="onSaveImages()">Save</button>
                <a mat-raised-button class="ml-2" (click)="onCancel()">Cancel</a>
            </div>
        </div>
    </div>
</div>