<div class="container-fluid position-relative">
    <div class="row no-gutters">
        <div class="col-md-9 col-lg-9">
            <app-title class="float-left mr-2" [title]="'ITR Allocation'"></app-title>

            <a mat-mini-fab class="mat-mini-fab-sm shadow-none" color="primary" type="button" id="dropdownSearch"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()"
                matTooltip="Click to search">
                <i class="fas fa-search"></i>
            </a>

            <a mat-mini-fab class="mat-mini-fab-sm shadow-none ml-2" color="success" type="button"
                matTooltip="Refresh data" (click)="onRefreshData()">
                <i class="fas fa-sync-alt"></i>
            </a>

            <div class="dropdown dropdown-search">
                <div class="dropdown-menu pl-0 pr-3 pt-3 pb-3 mt-2" aria-labelledby="dropdownSearch"
                    [ngClass]="{show : isToggleDropdown}">
                    <button type="button" class="close mt-n2 mr-n1" aria-label="Close" (click)="toggleDropdown()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <form (ngSubmit)="onGetITRAllocation()">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Equipment Code:</label>
                                    <ng-select name="equipment" class="ng-select-height-custom"
                                        [items]="equipmentTempModels" bindValue="id" bindLabel="value" [multiple]="true"
                                        placeholder="Select Equipment" #equipment="ngModel"
                                        [(ngModel)]="equipmentFilterCode" [virtualScroll]="true"
                                        [loading]="isEquipmentLoadingSelect" (scrollToEnd)="onScrollToEndEquipment()"
                                        (search)="onSearchEquipment($event)" (clear)="onClearEquipment()">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Description:</label>
                                    <input type="text" name="descriptionFilter" id="txtDesciption" class="form-control"
                                        [(ngModel)]="descriptionFilter" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="separator-dashed mt-0"></div>
                            </div>

                            <div class="col-12">
                                <button mat-raised-button color="success" type="button" (click)="onGetITRAllocation()">
                                    <i class="fas fa-search mr-1"></i> Search
                                </button>
                                <button mat-raised-button (click)="onCancelLookup()" class="ml-2" type="button">
                                    <i class="fas fa-eraser mr-1"></i> Clear
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 text-right">
            <button mat-raised-button color="primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                data-target="#addNewModal" (click)="onOpenAddModal()">
                <i class="fas fa-plus mb-1 mr-1"></i>Add New
            </button>

            <button mat-raised-button color="warn" class="ml-2" data-toggle="modal" data-backdrop="static"
                data-keyboard="false" data-target="#confirmModal" (click)="onOpenDeleteAllModal()"
                *ngIf="!isEnableDeleteAll">
                <i class="far fa-trash-alt mb-1 mr-1"></i>Delete
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-3">
            <div class="box has-shadow w-100">
                <div class="box-body">
                    <div class="table-container table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort
                            class="table table-striped table-bordered table-hover"
                            *ngIf="itrAllocationModels.length > 0" (matSortChange)="onSortData($event)">
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef class="text-center">
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" class="text-center"
                                    [ngClass]="{'selected': row.isAddOrEdit}">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="equipmentTypeCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Code</th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'selected': element.isAddOrEdit}">
                                    <a
                                        [routerLink]="['','modules', moduleProjectDefaultModel.moduleKey, 'projects', moduleProjectDefaultModel.projectKey, 'itr-allocation', element.equipmentTypeCode]">
                                        {{element.equipmentTypeCode}}
                                    </a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'selected': element.isAddOrEdit}">
                                    {{element.description}}</td>
                            </ng-container>

                            <ng-container matColumnDef="noOfAssociatedTags">
                                <th mat-header-cell *matHeaderCellDef class="text-center">No. of Associated Tags</th>
                                <td mat-cell *matCellDef="let element" class="text-center"
                                    [ngClass]="{'selected': element.isAddOrEdit}">
                                    {{element.noOfAssociatedTags}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Edit</th>
                                <td mat-cell *matCellDef="let element" class="text-center"
                                    [ngClass]="{'selected': element.isAddOrEdit}">
                                    <a class="btn-edit" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                        data-target="#editModal" (click)="onOpenEditModal(element.equipmentTypeId)">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Delete</th>
                                <td mat-cell *matCellDef="let element" class="text-center"
                                    [ngClass]="{'selected': element.isAddOrEdit}">
                                    <a class="btn-delete" data-toggle="modal" data-backdrop="static"
                                        data-keyboard="false" data-target="#confirmModal"
                                        (click)="onOpenDeleteModal(element.equipmentTypeId)">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <table class="table table-bordered table-hover" role="grid"
                            *ngIf="itrAllocationModels.length === 0">
                            <thead role="rowgroup">
                                <tr class="mat-header-row" role="row">
                                    <th class="mat-header-cell" role="columnheader">Equipment Code</th>
                                    <th class="mat-header-cell" role="columnheader">Description</th>
                                    <th class="mat-header-cell" role="columnheader">No. of Associated Tags</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup">
                                <tr class="mat-row" role="row">
                                    <td class="text-center" colspan="3">
                                        There is no item!
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="50"
                            *ngIf="itrAllocationModels.length !== 0"
                            (page)="onGetITRAllocation($event.pageIndex,$event.pageSize)" [length]="itrAllocationCount">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay {{isToggleDropdown ? 'is-open':''}}" (click)="toggleDropdown()" style="z-index: 10;"></div>

<add-itr-allocation *ngIf="isAddNewState" [visible]="isAddNewState" (onSuccess)="onSuccessAddModal($event)"
    (successModel)="onAddSuccess($event)">
</add-itr-allocation>

<edit-itr-allocation *ngIf="isEditState" [visible]="isEditState" (onSuccess)="onSuccessEditModal($event)"
    (successModel)="onEditSuccess($event)" [equipmentId]="equipmentIdEditing">
</edit-itr-allocation>

<confirm-modal *ngIf="isDeleteState" [visible]="isDeleteState" (confirm)="onDeleteConfirm($event)" [header]="'Confirm'"
    [content]="'Are you sure want to delete?'"></confirm-modal>

<confirm-modal *ngIf="isDeleteAllState" [visible]="isDeleteAllState" (confirm)="onDeleteAllConfirm($event)"
    [header]="'Confirm'" [content]="'Are you sure want to delete?'"></confirm-modal>