<div class="container-fluid">
    <div class="row">
        <app-title class="col-12 d-flex" [title]="'Company Management'"></app-title>

        <div class="col-12 mt-3">
            <div class="box has-shadow">
                <div class="box-body">
                    <div class="table-options mb-3">
                        <button mat-raised-button color="primary" data-toggle="modal" data-backdrop="static"
                            data-keyboard="false" data-target="#addNewModal" (click)="onOpenAddModal()">
                            <i class="fas fa-plus mb-1 mr-1"></i>Add Company
                        </button>
                    </div>

                    <div class="table-container table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort
                            class="table table-striped table-bordered table-hover"
                            *ngIf="companyManagementModels.length !== 0">

                            <ng-container matColumnDef="companyName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                <td mat-cell *matCellDef="let element">
                                    <ngx-avatar name="{{element.companyName}}" size="30" *ngIf="!element.logoUrl"
                                        class="float-left">
                                    </ngx-avatar>
                                    <ngx-avatar src="{{element.logoUrl}}" size="30" *ngIf="element.logoUrl"
                                        class="float-left">
                                    </ngx-avatar>
                                    <div class="float-left ml-2 mt-1">
                                        {{element.companyName}}
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Edit</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <a class="btn-edit" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                        data-target="#editModal" (click)="onOpenEditModal(element.companyId)">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Delete</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <a class="btn-delete" data-toggle="modal" data-backdrop="static"
                                        data-keyboard="false" data-target="#confirmModal"
                                        (click)="onOpenDeleteModal(element.companyId)">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator *ngIf="companyManagementModels.length !== 0" [pageSizeOptions]="[50, 100, 200]"
                            [pageSize]="50" (page)="onGetCompanyManagementData($event.pageIndex,$event.pageSize)"
                            [length]="totalItems">
                        </mat-paginator>

                        <!-- Datatable empty -->
                        <table class="table table-bordered table-hover" role="grid"
                            *ngIf="companyManagementModels.length === 0">
                            <thead role="rowgroup">
                                <tr class="mat-header-row" role="row">
                                    <th class="mat-header-cell" role="columnheader">Name</th>
                                    <th class="mat-header-cell text-center" role="columnheader">Edit</th>
                                    <th class="mat-header-cell text-center" role="columnheader">Delete</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup">
                                <tr class="mat-row" role="row">
                                    <td class="text-center" colspan="4">
                                        There is no item!
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-company-management *ngIf="isAddNewState" [visible]="isAddNewState" (onSuccess)="onSuccessAddModal($event)">
</add-company-management>

<edit-company-management *ngIf="isEditState" [visible]="isEditState" (onSuccess)="onSuccessEditModal($event)"
    [companyUpdationModel]="companyUpdationModel" [companyColorModel]="companyColorModel">
</edit-company-management>

<confirm-modal *ngIf="isDeleteState" [visible]="isDeleteState" (confirm)="onDeleteConfirm($event)" [header]="'Confirm'"
    [content]="'Are you sure want to delete?'"></confirm-modal>