<div class="container-fluid">
    <div class="row">
        <div class="unauthorize-access-page w-100 vh-100">
            <div class="text-center text-white">
                <h1>401</h1>
                <p class="text-capitalize">Authorization has been denied <br /> for this request!</p>
                <a class="btn btn-danger text-uppercase" [routerLink]="['']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Go to login page</a>
            </div>
        </div>
    </div>
</div>