$heightCell: 30px;
$commonWidth: 200px;
$headerDesWidth: 250px;
$dateWidth: 100px;
$byWidth: 150px;
$itrNoWidth: 150px;

@mixin minMaxWidth($value) {
  min-width: $value;
  max-width: $value;
}

.content-itr {
  min-height: 200px;
  // background-color: #ebebeb;

  & > .scroll-content {
    /*---Scroll Bar---*/
    ::-webkit-scrollbar-thumb {
      background-color: #b6b6b6;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #6d6e70;
    }

    &::-webkit-scrollbar {
      height: 10px;
    }
  }

  & > .scroll-content.handle-scrollbar {
    max-height: 600px;
    overflow: auto;
  }

  & > .scroll-content.remove-handle-scrollbar {
    overflow-x: hidden;
    max-height: auto;
  }

  .section {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    background-color: white;

    & > div {
      border: 1px solid #dee2e6;

      &:first-child {
        margin-bottom: 5px;
      }

      &.header {
        & > div {
          display: flex;
          min-height: $heightCell;

          & > div {
            display: flex;
            align-items: center;
            padding: 4px;
            @include minMaxWidth($commonWidth);
            min-height: $heightCell;
            border-bottom: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
            background-color: rgb(48, 113, 184);
            color: #ffffff;
            font-size: 0.9375rem;

            &:nth-child(3) {
              @include minMaxWidth($headerDesWidth);
            }

            &:last-child {
              width: auto;
              flex-grow: 1;
              max-width: unset;
              border-right: none;
            }
          }

          &:last-child > div {
            border-bottom: none;
          }
        }
      }

      &.main {
        & > div {
          display: flex;
          min-height: $heightCell;

          & > div {
            display: flex;
            align-items: center;
            padding: 4px;
            min-height: $heightCell;
            border-bottom: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
            color: #4c4c4c;
            
            &:nth-child(1),
            &:nth-child(2) {
              @include minMaxWidth($commonWidth);
            }

            &:nth-child(3) {
              @include minMaxWidth($itrNoWidth);
            }

            &:nth-child(4) {
              width: auto;
              flex-grow: 1;
            }

            &:nth-child(5),
            &:nth-child(7) {
              @include minMaxWidth($byWidth);
            }

            &:nth-child(6),
            &:nth-child(8) {
              @include minMaxWidth($dateWidth);
            }

            &:last-child {
              border-right: none;
            }
          }

          &.title {
            font-weight: 600;
            & > div {
              justify-content: center;
              color: #696969;
              font-size: 0.9375rem;
            }
          }

          &.content > div {
            justify-content: center;

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              justify-content: flex-start;
            }
          }

          &:last-child > div {
            border-bottom: none;
          }
        }
      }
    }
  }
}
