<div class="container-fluid itr-setup-container">
  <div class="row align-items-center no-gutters">
    <div class="col-md-4 col-lg-4">
      <a mat-raised-button [routerLink]="['', 'modules', moduleKey, 'project-settings', projectKey]">
        <i class="fas fa-arrow-left mr-1"></i>Back
      </a>
    </div>
    <div class="col-md-4 col-lg-4 text-center">
      <h2 class="page-header-title">
        {{projectManagementModel && projectManagementModel.projectName}} <i class="fas fa-angle-right ml-2 mr-2"></i>
        ITR setup - Signatures
      </h2>
    </div>
    <div class="col-md-4 col-lg-4 text-right">
      <button mat-raised-button color="success" class="mr-2" (click)="onClickCreateAddSignature()">+ Signature</button>

      <button mat-raised-button color="primary" class="mr-2" [hidden]="!isEdited" (click)="onClickSave()"><i
          class="far fa-save mr-1"></i>Save</button>

      <button mat-raised-button color="info" data-toggle="modal" data-backdrop="static" data-keyboard="false"
        data-target="#confirmModal" (click)="onClickReset()" [hidden]="!isEdited">
        <i class="fas fa-redo mr-1"></i>Reset
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3">
      <div class="box has-shadow">
        <div class="box-body">
          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box row"
              *ngIf="!clientState.isBusy && updateProjectSignatureModel.projectSignatures && updateProjectSignatureModel.projectSignatures.length == 0"
              cdkDrag>
              <div class="col-12 text-center text-danger">There is empty data</div>
            </div>
            <div class="example-box form-group row align-items-center"
              *ngFor="let itr of updateProjectSignatureModel.projectSignatures; let indexOfItr = index" cdkDrag>
              <ng-container *ngIf="!itr.isDeleted">
                <div class="example-handle col-1 text-center" cdkDragHandle>
                  <i class="fa fa-arrows" aria-hidden="true"></i>
                </div>
                <div class="col-5">
                  <ng-select name="roleName" [items]="authorizationLevelModels" bindLabel="value" bindValue="id"
                    class="select-signature" placeholder="Authorization level" [(ngModel)]="itr.authorizationId"
                    (change)="onCheckEdit()" [clearable]="false" class="ng-select-height-custom">
                  </ng-select>
                </div>
                <div class="col-5">
                  <input type="text" placeholder="Description" [(ngModel)]="itr.description" (change)="onCheckEdit()"
                    (keyup)="onCheckEdit()" class="form-control" />
                </div>
                <div class="col-1">
                  <button mat-mini-fab color="warn" class="mat-mini-fab-sm" (click)="onClickDeleteItr(indexOfItr, itr)">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>

                <div *ngIf="hasShowWarningValidate && (!itr.authorizationId || !itr.description)"
                  class="error col-12 text-center">
                  Please complete all mandatory fields and re-submit again!
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<confirm-modal *ngIf="isShowResetWarning" [visible]="isShowResetWarning" (confirm)="onConfirmReset($event)"
  [header]="'Confirm Reset'" [content]="'Are you want to reset?'"></confirm-modal>