<div class="container-fluid">
    <div class="row">
        <app-title class="col-12 d-flex" [title]="'Projects'"></app-title>

        <div class="col-12 mt-3">
            <div class="box has-shadow">
                <div class="box-body">
                    <div class="table-options mb-3">
                        <button mat-raised-button color="primary" data-toggle="modal" data-backdrop="static"
                            data-keyboard="false" data-target="#addNewModal" (click)="onOpenAddModal()">
                            <i class="fas fa-plus mb-1 mr-1"></i>Create Project
                        </button>
                    </div>

                    <div class="table-container table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort
                            class="table table-striped table-bordered table-hover"
                            *ngIf="projectManagementModels.length !== 0">
                            <ng-container matColumnDef="projectName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                <td mat-cell *matCellDef="let element">
                                    <ngx-avatar name="{{element.name}}" size="30" class="float-left"
                                        *ngIf="!element.projectLogo"></ngx-avatar>
                                    <ngx-avatar src="{{element.projectLogo}}" size="30" class="float-left"
                                        *ngIf="element.projectLogo"></ngx-avatar>
                                    <div class="float-left ml-2 mt-1">
                                        <a
                                            [routerLink]="['', 'modules', moduleProjectDefaultModel.moduleKey, 'project-settings', element.key]">
                                            {{element.name}}
                                        </a>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="projectKey">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Key</th>
                                <td mat-cell *matCellDef="let element">{{element.key}}</td>
                            </ng-container>
                            <ng-container matColumnDef="company">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
                                <td mat-cell *matCellDef="let element">
                                    <ngx-avatar name="{{element.companyName}}" size="30" class="float-left"
                                        *ngIf="!element.companyLogo">
                                    </ngx-avatar>
                                    <ngx-avatar src="{{element.companyLogo}}" size="30" class="float-left"
                                        *ngIf="element.companyLogo">
                                    </ngx-avatar>
                                    <div class="float-left ml-2 mt-1">
                                        {{element.companyName}}
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="punchSignatureCount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Punch Signature Count</th>
                                <td mat-cell *matCellDef="let element">{{element.punchSignatureCount}}</td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                <td mat-cell *matCellDef="let element">
                                    <span
                                        [ngClass]="{'badge-success': element.status=='Active','badge-secondary': element.status=='InActive'}"
                                        class="badge p-2">{{element.status}}</span></td>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Edit</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <a class="btn-edit" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                        data-target="#editModal" (click)="onOpenEditModal(element.key)">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef class="text-center">Delete</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <a class="btn-delete" data-toggle="modal" data-backdrop="static"
                                        data-keyboard="false" data-target="#confirmModal"
                                        (click)="onOpenDeleteModal(element.id)">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator *ngIf="projectManagementModels.length !== 0" [pageSizeOptions]="[50, 100, 200]"
                            [pageSize]="50" (page)="onGetProjectData($event.pageIndex)" [length]="projectsCount">
                        </mat-paginator>

                        <!-- Datatable empty -->
                        <table class="table table-striped table-bordered table-hover" role="grid"
                            *ngIf="projectManagementModels.length === 0">
                            <thead role="rowgroup">
                                <tr class="mat-header-row" role="row">
                                    <th class="mat-header-cell" role="columnheader">Name</th>
                                    <th class="mat-header-cell" role="columnheader">Key</th>
                                    <th class="mat-header-cell" role="columnheader">Company</th>
                                    <th mclass="mat-header-cell" role="columnheader">Punch Signature Count</th>
                                    <th class="mat-header-cell" role="columnheader">Status</th>
                                    <th class="mat-header-cell text-center" role="columnheader">Edit</th>
                                    <th class="mat-header-cell text-center" role="columnheader">Delete</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup">
                                <tr class="mat-row" role="row">
                                    <td class="text-center" colspan="9">
                                        There is no item!
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<add-project-management *ngIf="isAddNewState" [visible]="isAddNewState" (onSuccess)="onSuccessAddModal($event)">
</add-project-management>

<edit-project-management *ngIf="isEditState" [visible]="isEditState" (onSuccess)="onSuccessEditModal($event)"
    [projectUpdationModel]="projectUpdationModel" #editView>
</edit-project-management>

<confirm-modal *ngIf="isDeleteState" [visible]="isDeleteState" (confirm)="onDeleteConfirm($event)" [header]="'Confirm'"
    [content]="'Are you sure want to delete?'"></confirm-modal>