<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-4 col-lg-4">
      <button
        mat-raised-button
        (click)="onSelectCancelToLiveThisSite()"
        data-toggle="modal"
        data-backdrop="static"
        data-keyboard="false"
        data-target="#confirmUnsave"
      >
        <i class="fas fa-arrow-left mr-1"></i>Back to list
      </button>
    </div>

    <app-title class="col-md-4 col-lg-4 text-center" [title]="'Record Builder'" [smallTitle]="itrNo"></app-title>

    <div class="col-md-4 col-lg-4 text-right" *ngIf="!isPublished">
      <button
        mat-raised-button
        color="accent"
        (click)="onShowPreviewTemplate()"
        [hidden]="hasShowPreview"
        id="preview-button-itr-buider-detail"
      >
        <i class="fas fa-eye mr-1"></i>Preview
      </button>

      <button
        mat-raised-button
        color="accent"
        (click)="onCancelPreviewTemplate()"
        [hidden]="!hasShowPreview"
      >
        <i class="fas fa-eye-slash mr-1"></i>Cancel Preview
      </button>

      <button mat-raised-button color="primary" (click)="hasShowConfirmApplyItr = true" class="ml-2" data-toggle="modal"
        data-backdrop="static" data-keyboard="false" data-target="#appyItrModal">
        <i class="far fa-save mr-1"></i>Apply Record
      </button>
      <button
        mat-raised-button
        color="success"
        (click)="hasShowConfirmPublishModal = true"
        class="ml-2"
        data-toggle="modal"
        data-backdrop="static"
        data-keyboard="false"
        data-target="#publishItrModal"
      >
        <i class="fas fa-globe mr-1"></i>Publish
      </button>
    </div>
  </div>

  <div class="row" *ngIf="!isPublished">
    <div class="col-12 mt-3">
      <div class="position-relative" [ngClass]="{ card: !hasShowPreview }">
        <!-- editor -->
        <ul
          class="nav nav-tabs"
          id="itrBuilderTab"
          role="tablist"
          [hidden]="hasShowPreview"
        >
          <li
            class="nav-item"
            role="presentation"
            (click)="onSelectPartOfTemplate(HEADER_CONSTANT)"
          >
            <a
              class="nav-link active"
              id="header-tab"
              data-toggle="tab"
              href="#header"
              role="tab"
              aria-controls="header"
              aria-selected="true"
              >Header
              <img
                *ngIf="
                  templateSourceCode[HEADER_CONSTANT].isEdited ||
                  templateSourceCode[HEADER_CONSTANT].isRename
                "
                src="/assets/img/itr-builder/unsave.svg"
                class="unsave-icon"
              />
            </a>
          </li>
          <li
            class="nav-item"
            role="presentation"
            (click)="onSelectPartOfTemplate(BODY_CONSTANT)"
          >
            <a
              class="nav-link"
              id="body-tab"
              data-toggle="tab"
              href="#header"
              role="tab"
              aria-controls="body"
              aria-selected="false"
              >Body
              <img
                *ngIf="
                  templateSourceCode[BODY_CONSTANT].isEdited ||
                  templateSourceCode[BODY_CONSTANT].isRename
                "
                src="/assets/img/itr-builder/unsave.svg"
                class="unsave-icon"
            /></a>
          </li>
          <li
            class="nav-item"
            role="presentation"
            (click)="onSelectPartOfTemplate(FOOTER_CONSTANT)"
          >
            <a
              class="nav-link"
              id="footer-tab"
              data-toggle="tab"
              href="#header"
              role="tab"
              aria-controls="footer"
              aria-selected="false"
              >Footer
              <img
                *ngIf="
                  templateSourceCode[FOOTER_CONSTANT].isEdited ||
                  templateSourceCode[FOOTER_CONSTANT].isRename
                "
                src="/assets/img/itr-builder/unsave.svg"
                class="unsave-icon"
            /></a>
          </li>
        </ul>

        <div
          class="tab-content p-3"
          id="itrBuilderTabContent"
          [hidden]="hasShowPreview"
        >
          <div class="row mb-3 align-items-center">
            <div class="col-md-4 col-lg-4">
              <ng-select
                data-toggle="modal"
                data-backdrop="static"
                data-keyboard="false"
                data-target="#confirmModal"
                clearable="false"
                *ngIf="editorViewName === HEADER_CONSTANT"
                name="TemplateExisting"
                [items]="listTemplateExisting"
                bindValue="id"
                bindLabel="value"
                [placeholder]="placeholderSelectTemplateExisting"
                (change)="onSelectTemplateExisting($event)"
                [loading]="isLoading"
                id="select-box-existing-template-id"
                class="w-75"
              ></ng-select>
              <ng-select
                data-toggle="modal"
                data-backdrop="static"
                data-keyboard="false"
                data-target="#confirmModal"
                clearable="false"
                *ngIf="editorViewName === BODY_CONSTANT"
                name="TemplateExisting"
                [items]="listTemplateExisting"
                bindValue="id"
                bindLabel="value"
                [placeholder]="placeholderSelectTemplateExisting"
                (change)="onSelectTemplateExisting($event)"
                [loading]="isLoading"
                id="select-box-existing-template-id"
                class="w-75"
              ></ng-select>
              <ng-select
                data-toggle="modal"
                data-backdrop="static"
                data-keyboard="false"
                data-target="#confirmModal"
                clearable="false"
                *ngIf="editorViewName === FOOTER_CONSTANT"
                name="TemplateExisting"
                [items]="listTemplateExisting"
                bindValue="id"
                bindLabel="value"
                [placeholder]="placeholderSelectTemplateExisting"
                (change)="onSelectTemplateExisting($event)"
                [loading]="isLoading"
                id="select-box-existing-template-id"
                class="w-75"
              ></ng-select>
            </div>
            <div class="col-md-4 col-lg-4 text-center">
              <span
                *ngIf="
                  templateSourceCode[editorViewName].isEdited ||
                  templateSourceCode[editorViewName].isRename
                "
                class="ml-2 text-secondary"
                >Drafts /
              </span>
              <span
                class="text-truncate"
                *ngIf="!hasShowEditTemplateName"
                (click)="onClickShowEditTemplateName()"
                [title]="templateSourceCode[editorViewName].name"
              >
                {{ templateSourceCode[editorViewName].name }}
                <i class="fas fa-angle-down"></i>
              </span>
              <input
                *ngIf="hasShowEditTemplateName"
                [value]="valueTemplateNameEdited"
                (keyup)="onEditTemplateName($event)"
                autofocus
                (blur)="onCloseEditTemplateName()"
                class="edit-template-name"
              />
            </div>
            <div class="col-md-4 col-lg-4 text-right">
              <button
                *ngIf="templateSourceCode[editorViewName].id"
                mat-raised-button
                color="warn"
                data-toggle="modal"
                data-backdrop="static"
                data-keyboard="false"
                data-target="#confirmDelete"
                (click)="isShowDeleteWarningModal = true"
              >
                <i class="fas fa-trash-alt mr-1 mb-1"></i>Delete template
              </button>
              <button
                mat-raised-button
                color="success"
                (click)="onOpenModalSaveTemplate()"
                class="ml-2"
                [title]="titleSaveTemplateButton()"
              >
                <i class="fas fa-save mr-1 mb-1"></i>Save template
              </button>
            </div>
          </div>
          <div
            class="tab-pane fade show active"
            id="header"
            role="tabpanel"
            aria-labelledby="header-tab"
          >
            <div
              id="gjs-view-port"
              [ngClass]="{ 'disabled-element': isPublished }"
              (mouseenter)="onCheckWindowResize()"
            ></div>
          </div>
        </div>

        <div id="id-itr-builder-container-modal">
          <app-field-from-signature-popup
            *ngIf="hasShowFieldFromSignaturePopup"
            [listSignature]="listSignatureCreated"
            [idSignatureId]="idSignatureLinked"
            [fieldLabel]="labelFieldFromSignatureSelected"
            (handleEvent)="handleFieldFromSignaturePopupEvent($event)"
          ></app-field-from-signature-popup>
          <app-itr-builder-signature-popup
            *ngIf="hasShowSignaturePopupSetting"
            (OnClickEvent)="handleSignaturePopupEvent($event)"
            [signatureIdSelected]="signatureIdSelected"
            [htmlSource]="getFullHTML()"
            [signatureLookUp]="signatureLookUp"
          ></app-itr-builder-signature-popup>
          <app-itr-builder-answer-popup-setting
            *ngIf="hasShowAnswerPopupSetting"
            (onSaveOrClose)="handleAnswerPopupEvent($event)"
            [idAnswer]="idAnswerElementSelected"
            [listIdQuestionNotLink]="listIdQuestionNotLinked"
            (onClickUnlink)="handleAnswerPopupEventClickUnlink($event)"
          >
          </app-itr-builder-answer-popup-setting>
          <app-dashboard-child-free-text-from-data-base-popup
            [idOfTableSelected]="idOfTableSelected"
            [idFieldOfTableSelected]="idFieldOfTableSelected"
            (selected)="handleSetupFieldFromTable($event)"
            *ngIf="hasShowFieldFromDataBasePopup"
          >
          </app-dashboard-child-free-text-from-data-base-popup>
          <app-dashboard-child-symbol-list-popup
            (selected)="setSymbolValueToFreeTextWidthUnit($event)"
          >
          </app-dashboard-child-symbol-list-popup>
        </div>
      </div>
      <div *ngIf="hasShowPreview">
        <!-- preview -->
        <app-dashboard-child-template-preview
          [getFullHTMLandCSS]="templateToPreview"
        >
        </app-dashboard-child-template-preview>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isPublished">
    <div class="col-12" [innerHTML]="templateCodePreviewWhenPublished"></div>
  </div>
</div>

<!-- warning popup -->
<ng-container *ngIf="isShowModalSaveTemplate">
  <div class="modal d-block" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content has-shadow">
        <div class="modal-header">
          <h5 class="modal-title">Save Template</h5>
          <button
            type="button"
            class="close"
            (click)="isShowModalSaveTemplate = false"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Template Name:</label>
            <input
              [value]="templateSourceCode[editorViewName].name"
              (keyup)="onEditTemplateNameBeforeSave($event)"
              autofocus
              class="form-control"
            />
          </div>

          <ng-container
            *ngIf="
              templateSourceCode[editorViewName].id;
              else templateNotExisting
            "
          >
            <div class="form-group">
              <label>How to it save:</label>
              <ng-select
                appearance="outline"
                [searchable]="false"
                clearable="false"
                [(ngModel)]="chooseSaveType"
              >
                <ng-option
                  *ngFor="let saveChoose of saveOptions"
                  [value]="saveChoose.value"
                  >{{ saveChoose.name }}
                </ng-option>
              </ng-select>
            </div>
            <ng-container *ngIf="isThisTemplateNameIsExisting()">
              <span
                *ngIf="chooseSaveType != 'save'"
                class="warning-template-name-is-existing"
              >
                Template name is already existing, plase choose another
                name</span
              >
            </ng-container>
          </ng-container>
          <ng-template #templateNotExisting>
            <ng-container *ngIf="isThisTemplateNameIsExisting()">
              <span class="warning-template-name-is-existing">
                Template name is already existing, plase choose another
                name</span
              >
            </ng-container>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button
            mat-raised-button
            color="primary"
            (click)="saveTemplateToDataBase()"
            [disabled]="isThisTemplateNameIsNotAccept()"
          >
            Save
          </button>
          <button
            mat-raised-button
            (click)="isShowModalSaveTemplate = false"
            class="ml-2"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<confirm-modal
  [id]="'confirmCleanEditor'"
  *ngIf="isOpenConfirmCleanEditor"
  [visible]="isOpenConfirmCleanEditor"
  (confirm)="onConfirmCleanEditor($event)"
  [header]="'Confirm Clean'"
  [content]="'Are you sure want to clean this template?'"
>
</confirm-modal>

<confirm-modal
  [id]="'confirmUnsave'"
  *ngIf="hasShowWarningUnsaveWhenClickBack"
  [visible]="hasShowWarningUnsaveWhenClickBack"
  (confirm)="onConfirmBackToITRList($event)"
  header="Warning unsave!"
  content="Your template has been changed. you will be lost data if continue. Would you like to ignore this?"
>
</confirm-modal>

<confirm-modal
  [id]="'confirmDelete'"
  *ngIf="isShowDeleteWarningModal"
  [visible]="isShowDeleteWarningModal"
  (confirm)="onDeleteExistingTemplate($event)"
  [header]="'Confirm Delete'"
  [content]="'You will not be able to revert this!'"
>
</confirm-modal>

<confirm-modal
  [id]="'appyItrModal'"
  *ngIf="hasShowConfirmApplyItr"
  [visible]="hasShowConfirmApplyItr"
  (confirm)="onSelectApplyITR($event)"
  [header]="'Apply Itr ' + itrNo + ' template confirm'"
  [content]="'Are you sure want to apply this template?'"
>
</confirm-modal>

<confirm-modal
  [id]="'publishItrModal'"
  *ngIf="hasShowConfirmPublishModal"
  [visible]="hasShowConfirmPublishModal"
  (confirm)="onSelectPublishTemplate($event)"
  [header]="'Publish Itr confirm'"
  [content]="'Are you sure want to publish this template?'"
>
</confirm-modal>
<div *ngIf="!isPublished">
  <div *ngIf="!hasShowPreview" hidden id="hidden-full-part-html"></div>
</div>

<!-- preview when template published -->
<div
  *ngIf="isPublished"
  class="m-3 p-2"
  style="background-color: white"
  [innerHTML]="templateCodePreviewWhenPublished"
></div>

<button
  (click)="isOpenConfirmCleanEditor = true"
  id="showConfirmCleanEditorButton"
  mat-raised-button
  color="warn"
  data-toggle="modal"
  data-backdrop="static"
  data-keyboard="false"
  data-target="#confirmCleanEditor"
></button>
