<div class="container-fluid  position-relative" [ngClass]="{ 'tag-shrinked': isShowRightSideBar && !isTablet }">
  <div class="row align-items-center mb-2">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-2 mb-lg-0">
      <a [routerLink]="['','modules',moduleKey,'projects',projectKey,'tag-tab']" mat-raised-button>
        <i class="fas fa-arrow-left mr-1"></i>Back
      </a>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 mb-2 mb-lg-0 text-center">
      <h2 class="page-header-title">
        {{title || 'itr'}}
      </h2>
      <span class="font-weight-bold small" *ngIf="progressStage">
        ({{getDisplayStatusByStatusLabel(progressStage)}})</span>
    </div>

    <div
      *ngIf="isSign() && (progressStage === StatusList.NOTSTARTED.label || progressStage === StatusList.REJECTED.label)"
      class="d-flex col-md-12 col-lg-5 justify-content-sm-center justify-content-md-start justify-content-lg-end">
      <button *ngIf="isSignSubmit()" mat-raised-button class="mr-2" data-toggle="modal" data-backdrop="static"
        data-keyboard="false" data-target="#saveAndSubmit" (click)="handleShowWarningSaveAndSubmit()">
        <i class="fas fa-signature mr-1"></i>Sign and Submit
      </button>
      <button mat-raised-button color="primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
        data-target="#warningSaveRecord" (click)="handleShowWarningSave()">
        <i class="far fa-save mr-1"></i>Save
      </button>
      <button mat-raised-button color="warn" class="ml-2" data-toggle="modal" data-backdrop="static"
        data-keyboard="false" data-target="#warningResetModal" (click)="handleShowWarningResetModal()">
        <i class="fas fa-redo mr-1"></i>Reset
      </button>
    </div>

    <div
      class="col-12 col-md-4 col-lg-5 col-xl-5 text-center text-md-left text-lg-right mt-4 mt-md-0 mt-lg-0 mb-3 mb-md-0 mb-lg-0"
      *ngIf="isSign() && progressStage === StatusList.INPROGRESS.label">
      <button mat-raised-button color="primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
        data-target="#approve" (click)="handleShowWarningApprove()">
        <i class="fas fa-check mr-1"></i>Approve
      </button>
      <button mat-raised-button color="warn" class="ml-2" data-toggle="modal" data-backdrop="static"
        data-keyboard="false" data-target="#reject" (click)="handleShowWarningReject()">
        <i class="fas fa-ban mr-1"></i>Reject
      </button>
    </div>
  </div>
  <div class="row no-gutters p-2 bg-white">
    <div class="col-12" [ngClass]="{ 'disabled-element': isLockForm() }" id="container-record-view"
      [innerHTML]="itrTemplateCode"></div>
  </div>
  <div *ngIf="!isShowRightSideBar" class="open-sidebar">
    <i class="fas fa-angle-double-left" (click)="openRightSide()"></i>
  </div>
</div>

<div class="right-sidebar" *ngIf="isShowRightSideBar">
  <mat-sidenav [opened]="isShowRightSideBar" mode="push" position="end">
    <div class="container">
      <div class="row">
        <div class="col-12 text-right mt-1">
          <button type="button" class="close" aria-label="Close" (click)="closeRightSideBar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <tag-side-menu *ngIf="itrDetail && fieldFromDataBase" [tagDescriptionDetail]="tagDescription" [tagNoDetail]="tagNo"
      [tagIdDetail]="tagId" [projectKey]="projectKey" [isShowITRBuilder]="isShowITRBuilder"
      (showEditAllocatedITRs)="turnOffReloadItr($event)" [isLoadTagItrByTag]="isLoadTagItrByTag"
      (showITRBuilder)="onShowITRBuilder($event)">
    </tag-side-menu>
  </mat-sidenav>
</div>

<div class="overlay-right-side {{ isToggleRightSide ? 'is-open' : '' }}" (touchmove)="toggleRightSide()"
  (click)="toggleRightSide()"></div>

<!-- Confirm modal -->
<confirm-modal [id]="'warningResetModal'" *ngIf="hasShowWarningReset" [visible]="hasShowWarningReset"
  (confirm)="handleResetData($event)" header="Warning reset!" content="You will lose data if continue. Continue?">
</confirm-modal>

<confirm-modal [id]="'warningSaveRecord'" *ngIf="hasShowWarningSave" [visible]="hasShowWarningSave"
  (confirm)="handleSaveRecord($event)" header="Save record" content="You will save record to database. Continue?">
</confirm-modal>

<tag-confirm-modal [id]="'saveAndSubmit'" *ngIf="hasShowWarningSaveAndSubmit" [visible]="hasShowWarningSaveAndSubmit"
  (confirm)="handleSaveAndSubmitRecord($event)" header="Save and submit"
  content=" Do you want to save and submit this record?">
</tag-confirm-modal>

<tag-confirm-modal [id]="'approve'" *ngIf="hasShowWarningApprove" [visible]="hasShowWarningApprove"
  (confirm)="handleApproveRecord($event)" header="Approve" content=" Do you want to approve this record?">
</tag-confirm-modal>

<another-user-sign *ngIf="hasShowLoginModal" [visible]="hasShowLoginModal" [type]="typeLogin"
  [requestModel]="requestModel" (onSign)="onLoginModalRes($event)"></another-user-sign>

<confirm-pin-code-modal *ngIf="hasShowPinCodeSubmitModal" [visible]="hasShowPinCodeSubmitModal"
  [isShowPinCode]="hasShowPinCodeSubmitModal" [isShowCreatePinCode]="!isUserCreatedPinCode"
  (onSuccess)="saveAndSubmitAction($event)"></confirm-pin-code-modal>

<confirm-pin-code-modal *ngIf="hasShowPinCodeApproveModal" [visible]="hasShowPinCodeApproveModal"
  [isShowPinCode]="hasShowPinCodeApproveModal" [isShowCreatePinCode]="!isUserCreatedPinCode"
  (onSuccess)="onApproveAction($event)"></confirm-pin-code-modal>

<confirm-reason-modal [id]="'reject'" *ngIf="hasShowWarningReject" [visible]="hasShowWarningReject"
  (reason)="onRejectAction($event)" [header]="'Confirm'" [content]="'Are you sure want to reject?'">
</confirm-reason-modal>