<div [ngSwitch]="type" class="d-flex h-100 w-100" [ngClass]="{'height-table-minimum': heightTable}">
    <div *ngSwitchCase="chartType.PROJECT_COMPLETION" id="gaugeChartContainer" class="chart-container d-flex align-items-center justify-content-center">
        <ngx-gauge id="gaugeChart" [type]="gaugeConfig.type" [value]="data" [append]="gaugeConfig.appendText"
            [cap]="gaugeConfig.cap" [thick]="gaugeConfig.thick" [label]="gaugeConfig.label" [size]="gaugeConfig.size">
        </ngx-gauge>
    </div>
    <div *ngSwitchCase="chartType.TOTAL_CHANGES" class="chart-container pie-container">
        <canvas id="totalChanges"></canvas>
    </div>
    <div *ngSwitchCase="chartType.TOTAL_ITRS" class="chart-container">
        <canvas id="totalItrs"></canvas>
    </div>
    <div *ngSwitchCase="chartType.TOTAL_PUNCH_ITEMS" class="chart-container">
        <canvas id="totalPunches"></canvas>
    </div>
    <div *ngSwitchCase="chartType.TOTAL_HANDOVERS" class="chart-container pie-container">
        <canvas id="totalHandovers"></canvas>
    </div>
    <div *ngSwitchCase="chartType.WEEKLY_ITRS" class="chart-container">
        <canvas id="weeklyItrs"></canvas>
    </div>
    <div *ngSwitchCase="chartType.WEEKLY_PUNCH_ITEMS" class="chart-container">
        <canvas id="weeklyPunches"></canvas>
    </div>
    <div *ngSwitchCase="chartType.WEEKLY_HANDOVERS" class="chart-container d-flex mt-1 mb-1 scrollable" #weeklyHandovers>
        <table id="tableWeeklyHandovers" mat-table [dataSource]="data"
            class="table table-striped table-bordered table-hover mb-0">
            <ng-container matColumnDef="handoverNo">
                <th mat-header-cell *matHeaderCellDef
                    class="shadow-sm text-center align-middle pl-1 pr-1 align-items-center font-weight-bold">
                    Handover
                    No.
                </th>
                <td mat-cell *matCellDef="let element; let i = index" class="pl-1 pr-1"
                    [ngStyle]="{'background-color': element.status?planedColors[element.status.toLowerCase()]:''}">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100">
                        {{ element.handoverNo }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="systemNo">
                <th mat-header-cell *matHeaderCellDef
                    class="shadow-sm text-center align-middle pl-1 pr-1 font-weight-bold">
                    System
                </th>
                <td mat-cell *matCellDef="let element; let i = index" class="pl-1 pr-1"
                    [ngStyle]="{'background-color': element.status?planedColors[element.status.toLowerCase()]:''}">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100">
                        {{ element.systemNo }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="subSystemNo">
                <th mat-header-cell *matHeaderCellDef
                    class="shadow-sm text-center align-middle pl-1 pr-1 font-weight-bold">
                    Sub-System
                </th>
                <td mat-cell *matCellDef="let element; let i = index" class="pl-1 pr-1"
                    [ngStyle]="{'background-color': element.status?planedColors[element.status.toLowerCase()]:''}">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100">
                        {{ element.subSystemNo }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef
                    class="shadow-sm text-center align-middle pl-1 pr-1 font-weight-bold">
                    Description
                </th>
                <td mat-cell *matCellDef="let element; let i = index" class="pl-1 pr-1"
                    [ngStyle]="{'background-color': element.status?planedColors[element.status.toLowerCase()]:''}">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100">
                        {{ element.description }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="plannedDate">
                <th mat-header-cell *matHeaderCellDef
                    class="shadow-sm text-center align-middle pl-1 pr-1 font-weight-bold">
                    Planned
                    Date
                </th>
                <td mat-cell *matCellDef="let element; let i = index" class="pl-1 pr-1"
                    [ngStyle]="{'background-color': element.status?planedColors[element.status.toLowerCase()]:''}">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100">
                        {{ convertDate(element.plannedDate) }}
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">There is no handovers!</td>
            </tr>
        </table>
    </div>
</div>
