#loginAnotherUserSection {
    .login-control {
        padding: 0;
        margin: 1rem auto;

        .form-control {
            border: 0 !important;
            height: 46px;
            margin-top: 1.25rem;
            background-color: rgba(247, 247, 249, .7) !important;
            padding-left: 0.5rem;
            padding-right: 1.25rem;
            transition: background-color .3s ease;
            outline: none;
            font-size: 0.85rem;
            color: #495057;

            &:focus {
                transition: background-color .3s ease;
                background-color: #f7f7f9;
                box-shadow: none;
            }
        }
    }
}

::ng-deep .mat-form-field{
    span:not(class) {
        padding: 0;
    }
}