//--- Material menu
.mat-menu-content {
  a {
    color: #4c4c4c;

    &.active {
      .mat-menu-item {
        color: #3071b8;
      }
    }
  }
}

#matSideNavMenu {
  .mat-drawer-inner-container {
    overflow: hidden !important;
  }
}

//--- Material menu

/*--- Material Button Success ---*/

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}

.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color: #155724;
}

/*--- /Material Button Success ---*/

/*--- Material Button Primary ---*/

.mat-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #3071b8;
}

.mat-button.mat-primary:hover,
.mat-stroked-button.mat-primary:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #f0fff3;
  background-color: #3071b8;
}

.mat-icon-button.mat-primary {
  color: #3071b8;
}

/*--- /Material Button Primary ---*/

/*--- Material Button Info ---*/

.mat-button.mat-info,
.mat-stroked-button.mat-info {
  color: #17a2b8;
}

.mat-button.mat-info:hover,
.mat-stroked-button.mat-info:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-info,
.mat-flat-button.mat-info,
.mat-fab.mat-info,
.mat-mini-fab.mat-info {
  color: #f0fff3;
  background-color: #17a2b8;
}

.mat-icon-button.mat-info {
  color: #17a2b8;
}

/*--- /Material Button Info ---*/

//--- Mat Calendar Custom
.mat-calendar-custom {
  position: relative;

  .mat-form-field-appearance-legacy {
    .mat-form-field-infix {
      padding-top: 0;
    }
  }

  .error {
    position: absolute;
    top: 65px;
  }
}

//--- /Mat Calendar Custom

//--- Mat Progress Spinner
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #3071b8;
}

//--- /Mat Progress Spinner

//--- Mat Tab
.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-tab-label {
  &.mat-tab-label-active {
    opacity: 1;
  }
}

//--- /Mat Tab

//--- Mat Checkbox
.mat-checkbox {
  .mat-checkbox-layout {
    //margin-top: 5px;
  }

  &.mat-success {
    &.mat-checkbox-checked {
      .mat-checkbox-background {
        background-color: #155724;
      }
    }
  }
}

//--- /Mat Checkbox

.mat-menu-item[disabled],
.mat-menu-item[disabled]::after {
  opacity: 0.8;
}
