<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content has-shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="onCreateUser(f)" #f="ngForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title<span class="required"></span></label>
                        <select class="form-control" name="title" [(ngModel)]="userCreationModel.title" #title="ngModel"
                            required>
                            <option value="Mr">Mr</option>
                            <option value="Ms">Ms</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Dr">Dr</option>
                        </select>
                        <div *ngIf="title.invalid && (title.dirty || title.touched || f.submitted)" class="error">
                            <div *ngIf="title.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>First Name<span class="required"></span></label>
                        <input type="text" class="form-control" name="firstName"
                            [(ngModel)]="userCreationModel.firstName" #firstName="ngModel" required autocomplete="off">
                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || f.submitted)"
                            class="error">
                            <div *ngIf="firstName.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name<span class="required"></span></label>
                        <input type="text" class="form-control" name="surName" [(ngModel)]="userCreationModel.surName"
                            #surName="ngModel" required autocomplete="off">
                        <div *ngIf="surName.invalid && (surName.dirty || surName.touched || f.submitted)" class="error">
                            <div *ngIf="surName.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>User Name<span class="required"></span></label>
                        <input type="text" class="form-control" name="userName" #userName="ngModel" [(ngModel)]="userCreationModel.userName"
                            #surName="ngModel" required autocomplete="off">
                        <div *ngIf="userName.invalid && (userName.dirty || userName.touched || f.submitted)" class="error">
                            <div *ngIf="userName.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email Address<span class="required"></span></label>
                        <input class="form-control" type="text" name="email" [(ngModel)]="userCreationModel.email"
                            #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required
                            autocomplete="off">
                        <div *ngIf="email.invalid && (email.dirty || email.touched || f.submitted)" class="error">
                            <div *ngIf="email.errors?.required">This field is required</div>
                            <div *ngIf="email.errors?.pattern">Email format should be <i>john@doe.com</i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" name="company" [(ngModel)]="userCreationModel.company"
                            #address="ngModel">
                    </div>
                    <!--<div class="form-group">
                        <label>Status</label>
                        <select class="form-control">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button mat-raised-button color="primary" class="mr-2">Save</button>
                    <a mat-raised-button data-dismiss="modal" (click)="onCancel()">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>