<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content has-shadow">
            <div class="modal-header">
                <h5 class="modal-title">Add Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="onSaveData(f)" #f="ngForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Record No.<span class="required"></span></label>
                        <input type="text" class="form-control" required autocomplete="off" name="itrNo"
                            #itrNo="ngModel" [(ngModel)]="itrCreationModel.itrNo">
                        <div *ngIf="itrNo.invalid && (itrNo.dirty || itrNo.touched || f.submitted)" class="error">
                            <div *ngIf="itrNo.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description<span class="required"></span></label>
                        <input type="text" id="txtDescription" class="form-control" name="description" #description="ngModel" [(ngModel)]="itrCreationModel.description" required>
                        <div *ngIf="description.invalid && (description.dirty || description.touched || f.submitted)" class="error">
                            <div *ngIf="description.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type<span class="required"></span></label>
                        <select class="form-control" name="type" #type="ngModel" [(ngModel)]="itrCreationModel.type" required>
                            <option value="Handover">Handover</option>
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                        </select>
                        <div *ngIf="type.invalid && (type.dirty || type.touched || f.submitted)" class="error">
                            <div *ngIf="type.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label>Discipline:</label>
                        <ng-select name="discipline" [items]="disciplineModels" bindValue="id" bindLabel="value"
                            placeholder="Choose Discipline" #discipline="ngModel" [(ngModel)]="itrCreationModel.disciplineId">
                        </ng-select>
                    </div> -->
                    <div class="form-group" *ngIf="itrCreationModel.type != 'Handover'">
                        <label>Discipline<span *ngIf="itrCreationModel.type != 'Handover'" class="required"></span></label>
                        <ng-select name="discipline" [items]="disciplineTempModels" bindValue="id"
                            bindLabel="value" placeholder="Select Discipline" #discipline="ngModel"
                            [(ngModel)]="itrCreationModel.disciplineId" [virtualScroll]="true"
                            [loading]="isDisciplineLoadingSelect" (scrollToEnd)="onScrollToEndDiscipline()"
                            (search)="onSearchDiscipline($event)" (clear)="onClearDiscipline()" [required]="itrCreationModel.type != 'Handover'">
                        </ng-select>
                        <div *ngIf="discipline.invalid && (discipline.dirty || discipline.touched || f.submitted)" class="error">
                            <div *ngIf="discipline.errors?.required">This field is required</div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label>Milestone:</label>
                        <ng-select name="milestone" [items]="milestoneLookUpModels" bindValue="id" bindLabel="value"
                            placeholder="Choose Milestone" #milestone="ngModel" [(ngModel)]="itrCreationModel.milestoneId">
                        </ng-select>
                    </div> -->
                    <div class="form-group">
                        <label>Milestone<span class="required"></span></label>
                        <ng-select name="milestone" [items]="milestoneTempModels" bindValue="id"
                            bindLabel="value" placeholder="Select Milestone" #milestone="ngModel"
                            [(ngModel)]="itrCreationModel.milestoneId" [virtualScroll]="true"
                            [loading]="isMilestoneLoadingSelect" (scrollToEnd)="onScrollToEndMilestone()"
                            (search)="onSearchMilestone($event)" (clear)="onClearMilestone()" required>
                        </ng-select>
                        <div *ngIf="milestone.invalid && (milestone.dirty || milestone.touched || f.submitted)" class="error">
                            <div *ngIf="milestone.errors?.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button color="primary" class="mr-2" type="submit">Save</button>
                    <a mat-raised-button data-dismiss="modal" (click)="onCancel()">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>