<div class="modal fade" id="conditionalAcceptanceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content has-shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Conditional Acceptance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="conditionalModel && conditionalModel.conditions && conditionalModel.conditions.length>0">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of conditionalModel.conditions">{{item}}
                        </li>
                    </ul>
                </div>
                <h6 *ngIf="conditionalModel && conditionalModel.conditions && conditionalModel.conditions.length<=0"
                    class="text-center mb-0 text-danger font-weight-normal">
                    There is no item!
                </h6>
            </div>
            <div class="modal-footer">
                <button mat-raised-button color="primary" (click)="onAccepted(conditionalModel)"
                    *ngIf="isEnableAccept">Accept</button>
                <a mat-raised-button data-dismiss="modal" data-dismiss="modal" (click)="onCancel()"
                    class="ml-2">Cancel</a>
            </div>
        </div>
    </div>
</div>