<div class="container-modal-free-text-form-data-base">
  <div class="modal show d-block" id="modal-input-view" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select field from signature</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="handleClosePopup(false)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="fieldLabel">
            <div class="form-group">
              <label>Select signature:</label>
              <ng-select
                name="signatureList"
                [items]="listSignature"
                bindValue="id"
                bindLabel="label"
                placeholder="Select table"
                [markFirst]="true"
                [(ngModel)]="SignatureIdSelected"
                (change)="handleChange()"
                [clearable]='false'
              >
              </ng-select>
            </div>

            <div class="form-group">
              <label>Select field of signature:</label>
              <ng-select
                name="fieldFromSignature"
                [items]="listFieldFromSignature"
                bindValue="label"
                bindLabel="label"
                placeholder="Select field of signature"
                [(ngModel)]="fieldSelected"
                (change)="handleChange()"
                [clearable]='false'
              >
              </ng-select>
            </div>
          </form>
          <form *ngIf="!fieldLabel">
            <div class="form-group">
              <label>Select signature:</label>
              <ng-select
                name="signatureList"
                [items]="listSignature"
                bindValue="id"
                bindLabel="label"
                placeholder="Select table"
                [markFirst]="true"
                (change)='handleChangeSignature($event)'
                [clearable]='false'
              >
              </ng-select>
            </div>

            <div class="form-group">
              <label>Select field of signature:</label>
              <ng-select
                name="fieldFromSignature"
                [items]="listFieldFromSignature"
                bindValue="label"
                bindLabel="label"
                placeholder="Select field of signature"
                (change)='handleChangeFieldFromSignature($event)'
                [clearable]='false'
              >
              </ng-select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="!isCanSaveChange()"
            mat-raised-button
            color="primary"
            (click)="handleClosePopup(true)"
          >
            Save changes
          </button>
          <button
            mat-raised-button
            (click)="handleClosePopup(false)"
            class="ml-2"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
