.itr-data {
    height: 300px;
    background-color: #ffffff;
    border-radius: 4px;
}

.itr-history {
    height: 300px;
    background-color: #ffffff;
    border-radius: 4px;
}

.right-sidebar {
    position: fixed;
    top: 70px;
}