<div class="modal fade" id="justificationModal" data-backdrop="static" data-keyboard="false"
    [ngClass]="{'show d-block': isConfirmationShow}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content has-shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="onSubmitData(f)" #f="ngForm" novalidate>
                <div class="modal-body">
                    <div class="text-center">
                        {{jQuestionContent}}
                    </div>

                    <div *ngIf="status !== 'ACTIVE'" class="form-group">
                        <label>Reason: <span class="required"></span></label>
                        <textarea class="form-control" name="reasonContent" #content="ngModel"
                            [(ngModel)]="reasonContent" required autocomplete="off"></textarea>
                        <div *ngIf="content.invalid && (content.dirty || content.touched || f.submitted)" class="error">
                            <div *ngIf="content.errors?.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" mat-raised-button color="primary">Submit</button>
                    <button type="button" mat-raised-button data-dismiss="modal" class="ml-3"
                        (click)="onCancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>