<div id="personalInformation">
  <div class="container-fluid">
    <div class="row">
      <app-title class="col-12 d-flex" [title]="'Change Password'"></app-title>
      <div class="col-md-3 col-lg-3 mt-3">
        <div class="box has-shadow w-100">
          <div class="box-body">
            <div class="personal-info-left">
              <div class="personal-info-head">
                <!-- <div class="personal-info-avatar">
                  <img src="{{personalLogoUrl}}" alt="image">
                </div> -->
                <div class="personal-info-content">
                  <div class="personal-info-section">
                    <a class="personal-info-username">
                      {{userProfileModel.firstName}} {{userProfileModel.surname}}
                    </a>
                    <span class="personal-info-subtitle">
                      Administrator
                    </span>
                  </div>
                </div>
              </div>

              <div class="personal-info-body">
                <div class="personal-info-content">
                  <div class="personal-info-info">
                    <span class="personal-info-label">Email:</span>
                    <a href="#" class="personal-info-data">{{userProfileModel.email}}</a>
                  </div>
                  <!-- <div class="personal-info-info">
                    <span class="personal-info-label">Phone:</span>
                    <a href="#" class="personal-info-data">{{userProfileModel.phoneNumber}}</a>
                  </div> -->
                </div>

                <div class="personal-info-items">
                  <a [routerLink]="['', 'personal-information']">
                    <i class="fas fa-user mr-2"></i>
                    Personal Information
                  </a>
                  <a class="active" [routerLink]="['', 'change-password']">
                    <i class="fas fa-key mr-2"></i> Change password
                  </a>
                  <a [routerLink]="['', 'change-pincode']">
                    <i class="fas fa-key mr-2"></i> <span *ngIf="userProfileModel.havePinCode"> Change PIN
                      code</span><span *ngIf="!userProfileModel.havePinCode"> Create PIN code</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 mt-3">
        <div class="box has-shadow w-100">
          <div class="box-header bordered d-flex align-items-center">
            <h2>
              Change Password
              <small>change or reset your account password</small>
            </h2>

          </div>
          <form (ngSubmit)="onChangePassword(f)" #f="ngForm" novalidate class="changePasswordForm">
            <div class="box-body">
              <div class="personal-info-right">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label text-right align-self-center">
                    Current Password
                  </label>
                  <div class="col-lg-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-key"></i>
                        </span>
                      </div>
                      <input type="password" class="form-control" name="oldPassword" placeholder="Current password"
                        [(ngModel)]="changePasswordModel.oldPassword" #oldPassword="ngModel" required
                        autocomplete="off">
                      <div class="error"
                        *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || f.submitted)">
                        <div *ngIf="oldPassword.errors?.required">This is required field</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label text-right align-self-center">
                    New Password
                  </label>
                  <div class="col-lg-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-key"></i>
                        </span>
                      </div>
                      <input type="password" class="form-control" placeholder="New password" name="newPassword"
                        minlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,200}$"
                        validateEqual="confirmPasswordChange" reverse="true"
                        [(ngModel)]="changePasswordModel.newPassword" #newPassword="ngModel" required
                        autocomplete="off">
                      <div class="error"
                        *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched || f.submitted)">
                        <div *ngIf="newPassword.errors?.required">This is required field</div>
                        <div *ngIf="newPassword.errors?.pattern">At least 8 characters and
                          have one capital and alphanumeric characters</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label text-right align-self-center">
                    Verify Password
                  </label>
                  <div class="col-lg-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-key"></i>
                        </span>
                      </div>
                      <input type="password" class="form-control" placeholder="Confirm password" reverse="false"
                        name="confirmPassword" [(ngModel)]="changePasswordModel.newPasswordConfirm"
                        #confirmPasswordChange="ngModel" validateEqual="newPassword" required autocomplete="off">
                      <div
                        *ngIf="confirmPasswordChange.invalid && (confirmPasswordChange.dirty || confirmPasswordChange.touched || f.submitted)"
                        class="error">
                        <div *ngIf="confirmPasswordChange.errors?.required">This is required field</div>
                        <div *ngIf="confirmPasswordChange.value && confirmPasswordChange.errors?.validateEqual">
                          Password mismatch
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-md-3 col-lg-3">
                </div>
                <div class="col-md-9 col-lg-9">
                  <button mat-raised-button color="primary" class="mr-2">Change password</button>
                  <a mat-raised-button (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>