#personalInformation {
    .personal-info-left {
        .personal-info-head {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;

            .personal-info-avatar {
                img {
                    width: 90px;
                    max-width: 100%;
                    border-radius: 4px;
                }
            }

            .personal-info-content {
                padding-left: 1.4rem;

                .personal-info-section {
                    .personal-info-username {
                        font-size: 1.2rem;
                        color: #48465b;
                        font-weight: 500;
                    }

                    .personal-info-subtitle {
                        display: block;
                        padding: 0.25rem 0 0 0;
                        font-weight: 500;
                        color: #74788d;
                    }
                }
            }
        }

        .personal-info-body {
            .personal-info-content {
                padding: 1.9rem 0 2.1rem 0;

                .personal-info-info {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    padding-bottom: 0.5rem;

                    .personal-info-label {
                        color: #48465b;
                        font-weight: 500;
                    }

                    .personal-info-data {
                        color: #74788d;
                        font-weight: 400;
                    }
                }
            }

            .personal-info-items {
                a {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: flex-start;
                    padding: 0.7rem 1.05rem 0.7rem 0.6rem;
                    margin: 0.4rem 0;
                    color: #74788d;

                    &.active {
                        -webkit-transition: color 0.3s ease;
                        transition: color 0.3s ease;
                        background: #f2f3f7;
                        border-radius: 4px;
                        color: #007bff;
                    }

                    &:hover {
                        -webkit-transition: color 0.3s ease;
                        transition: color 0.3s ease;
                        background: #f2f3f7;
                        border-radius: 4px;
                        color: #007bff;
                    }
                }
            }
        }
    }
}
.changePasswordForm{
  div.error{
    width: 100%;
  }
}
