<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-tag-preview-drawing m-0 mw-100 mh-100"
  role="document">
  <div class="modal-content has-shadow h-100">
    <div class="custom-modal-header">
      <div class="row no-gutters align-items-center">
        <div class="col-9 col-md-10">
          <div class="d-flex align-items-center">
            <h5 class="modal-title text-nowrap">Preview Drawing</h5>
            <small *ngIf="fileName" class="ml-2 text-truncate" matTooltip="{{fileName}}" matTooltipPosition="below">-
              {{fileName}}
            </small>
          </div>
        </div>
        <div class="col-3 col-md-2">
          <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn-download mr-3" (click)="downloadDrawing()">
              <i class="fas fa-cloud-download-alt"></i>
            </button>

            <button type="button" class="close" aria-label="Close" mat-dialog-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body h-100">
      <div id="tagPreviewDrawings" class="carousel slide h-100" data-interval="false" data-touch="false">
        <!-- <ol class="carousel-indicators">
          <li *ngFor="let item of drawingData; index as i" data-target="#tagPreviewDrawings" attr.data-slide-to="{{i}}"
            [ngClass]="i === this.startIndex ? 'active':''"></li>
        </ol> -->

        <div class="carousel-inner h-100">
          <div *ngFor="let item of drawingData; index as i" class="carousel-item h-100"
            [ngClass]="i === this.startIndex ? 'active':''">

            <div *ngIf="check(extension.other, extractType(item.fileName))"
              class="d-flex align-items-center justify-content-center flex-column file-not-supported h-100">
              <h5 class="text-center">This file type is not supported to preview</h5>
              <p class="mb-1 text-center">{{fileName}}</p>
              <a (click)="downloadDrawing()">Click here to download</a>
            </div>

            <img *ngIf="check(extension.img, extractType(item.fileName))" class="d-block  w-100 h-100"
              [src]="isOffline?getSrcImg(item.base64, extractType(item.fileName)):getSrcImg(item.url)"
              alt="slide {{i}}">

            <!-- <ng-container
              *ngIf="!isOffline && check(extension.pdf, extractType(item.fileName)) && i === currentDrawingIndex">
              <iframe [hidden]="!isHideLoadingPreviewer" class="iframe-pdf" #iframe id="iframe" frameBorder="0"
                [src]="urlLinkPdfOn" title="pdf previewer"></iframe>
              <div class="d-flex align-items-center justify-content-center w-100 h-100 ng-star-inserted"
                [ngClass]="{'d-none':isHideLoadingPreviewer,'d-flex':!isHideLoadingPreviewer}">
                <h6 class="loading-pdf text-center">Loading</h6>
              </div>
            </ng-container> -->

            <!-- view pdf Online -->
            <span *ngIf="!isOffline && check(extension.pdf, extractType(item.fileName)) && i === currentDrawingIndex">
              <ngx-extended-pdf-viewer [id]="item.drawingId" [showFindButton]="false" [showOpenFileButton]="false"
                [showBookmarkButton]="false" [showSecondaryToolbarButton]="isTablet" [showPresentationModeButton]="true"
                [sidebarVisible]="false" [showDownloadButton]="false" [showRotateButton]="false"
                [showScrollingButton]="false" [showPropertiesButton]="false" [showSpreadButton]="false"
                [showPrintButton]="!isTablet" [showSidebarButton]="!isTablet" [showPagingButtons]="!isTablet"
                [zoom]="defaultZoom4Web" [zoomLevels]="zoomLevels" [src]="item.url" [minZoom]="0.1" [maxZoom]="10">
              </ngx-extended-pdf-viewer>
            </span>
            <!-- view pdf Offline -->
            <span *ngIf="isOffline && check(extension.pdf, extractType(item.fileName)) && i === currentDrawingIndex">
              <ngx-extended-pdf-viewer [id]="item.drawingId" [showFindButton]="false" [showOpenFileButton]="false"
                [showBookmarkButton]="false" [showSecondaryToolbarButton]="isTablet" [showPresentationModeButton]="true"
                [sidebarVisible]="false" [showDownloadButton]="false" [showRotateButton]="false"
                [showScrollingButton]="false" [showPropertiesButton]="false" [showSpreadButton]="false"
                [showPrintButton]="!isTablet" [showSidebarButton]="!isTablet" [showPagingButtons]="!isTablet"
                [zoom]="defaultZoom4Web" [zoomLevels]="zoomLevels" [base64Src]="item.base64" [minZoom]="0.1"
                [maxZoom]="10">
              </ngx-extended-pdf-viewer>
            </span>
          </div>
        </div>

        <a *ngIf="drawingData && drawingData.length > 1" class="carousel-control-prev" role="button">
          <i class="fas fa-chevron-circle-left" (click)="onMoveSlides('prev')"></i>
        </a>
        <a *ngIf="drawingData && drawingData.length > 1" class="carousel-control-next" role="button">
          <i class="fas fa-chevron-circle-right" (click)="onMoveSlides('next')"></i>
        </a>
      </div>
    </div>
  </div>
</div>