.modal-tag-preview-drawing {
  .modal-content {
    .custom-modal-header {
      width: 100%;
      padding: 1rem 1rem;
      border-bottom: 1px solid #dee2e6;
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px);

      .btn-download {
        background: transparent;
        border: 0;
        margin-top: 4px;
        padding-right: 0;

        i {
          font-size: 22px;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .modal-body {
      img {
        object-fit: contain;
      }

      .iframe-pdf {
        width: 100%;
        height: 100%;
      }

      /* loading dots */
      .loading-pdf:after {
        content: " .";
        animation: dots 1s steps(5, end) infinite;
      }

      @keyframes dots {
        0%,
        20% {
          color: rgba(0, 0, 0, 0);
          text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        40% {
          color: black;
          text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        60% {
          text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        80%,
        100% {
          text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
        }
      }

      .carousel-control-prev {
        width: 4%;
        top: 35px;

        i {
          font-size: 30px;
          color: #000000;
        }
      }

      .carousel-control-next {
        width: 4%;
        top: 35px;

        i {
          font-size: 30px;
          color: #000000;
        }
      }

      .file-not-supported {
        a {
          color: #3071b8;
          font-size: 14px;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

//--- Low Resolution Tablets
@media (min-width: 481px) and (max-width: 767px) {
  .modal-tag-preview-drawing {
    .modal-content {
      .modal-header {
        align-items: center;
        padding: 0.625rem 1rem;

        h5 {
          font-size: 1rem;
        }
      }

      .modal-body {
        padding-left: 1.875rem;
        padding-right: 1.875rem;

        .carousel-control-prev {
          left: -25px;

          i {
            font-size: 1.25rem;
          }
        }

        .carousel-control-next {
          right: -25px;

          i {
            font-size: 1.25rem;
          }
        }

        .file-not-supported {
          h5 {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}
