#editForm {
  h2 {
    font-size: 1rem;
    color: #74788d;
  }
}

.conditional-acceptance-success {
  background-color: #28a745;
  cursor: pointer;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 4px;
}

.dropdown-search {
  position: absolute;
  top: 45px;
  width: 94%;
}

//--- Large screen
@media only screen and (min-width: 1600px) {
  .dropdown-search {
    width: 75%;
  }
  .fixWidthInput{
    width:13vw;
  }
  .ng-select.fixWidth ::ng-deep .ng-select-container{
    width:13vw;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1599px) {
  .dropdown-search {
    width: 75%;
  }
  .fixWidthInput{
    width:13vw;
  }
  .ng-select.fixWidth ::ng-deep .ng-select-container{
    width:13vw;
  }
}
//--- Laptop
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .dropdown-search {
    width: 75%;
  }
  .fixWidthInput{
    width:14vw;
  }
  .ng-select.fixWidth ::ng-deep .ng-select-container{
    width:14vw;
  }
}

//--- Tablet
@media (min-width: 768px) and (max-width: 991px) {
  .dropdown-search {
    width: 97%;
  }
  .fixWidthInput{
    width:34vw;
  }
  .ng-select.fixWidth ::ng-deep .ng-select-container{
    width:34vw;
  }
}

//--- Low Resolution Tablets
@media (min-width: 481px) and (max-width: 767px) and (orientation: portrait) {
  .dropdown-search {
    width: 94%;
  }
}
