<div *ngIf="visible" class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content has-shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{header}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Please input your password <span class="required"></span></label>
                    <input type="password" class="form-control" placeholder="Password" name="newPassword" minlength="8"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,200}$" reverse="true" [(ngModel)]="password"
                        #newPassword="ngModel" required autocomplete="off">
                    <div class="error" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                        <div *ngIf="newPassword.errors?.required">This is required field</div>
                        <div *ngIf="newPassword.errors?.pattern">At least 8 characters and
                            have one capital and alphanumeric characters</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button mat-raised-button color="warn" (click)="onConfirm()" class="mr-2">Confirm</button>
                <a mat-raised-button data-dismiss="modal" (click)="onClose()">Cancel</a>
            </div>
        </div>
    </div>
</div>