<div class="h-100" id="loginSection">
    <div class="row flex-row h-100 no-gutters">
        <div class="col-md-12 col-lg-4">
            <div class="bg-login">
                <div class="company-name text-center">
                    <img class="img-fluid mb-2 mb-md-3 mb-lg-3" src="../../../assets/img/elements-logo.png" alt="Logo Company">
                    <h3>Elements</h3>
                    <p>Asset Integrity</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-8 my-auto">
            <div class="authentication-form mx-auto">
                <div class="card">
                    <div class="card-body p-4 p-md-4 p-lg-5">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h3>Sign in</h3>
                            </div>
                            <div class="col-6 text-right">
                                Not registered? <a [routerLink]="['', 'register']">Register</a>
                            </div>
                        </div>

                        <form class="login-form" (ngSubmit)="onLogin(loginForm.value)" [formGroup]="loginForm">
                            <div class="login-control">
                                <mat-form-field class="w-100">
                                    <mat-icon matSuffix>account_circle</mat-icon>
                                    <input type="text" matInput placeholder="User name" id="userNameInputId"
                                        formControlName="email" required autocomplete="off">
                                    <mat-error
                                        *ngIf="(loginForm.controls['email'].dirty || loginForm.controls['email'].touched) && hasError('email', 'required')">
                                        This is required field</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="login-control">
                                <mat-form-field class="w-100">
                                    <mat-icon matSuffix>vpn_key</mat-icon>
                                    <input type="password" matInput placeholder="Password" id="passwordInputId"
                                        formControlName="password" required autocomplete="off">
                                    <mat-error
                                        *ngIf="(loginForm.controls['password'].dirty || loginForm.controls['password'].touched) && hasError('password', 'required')">
                                        This is required field</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="row align-items-center mb-3">
                                <div class="col-12 text-left">
                                    <a [routerLink]="['', 'forgot-password']">
                                        Forgot password?
                                    </a>
                                </div>
                            </div>

                            <div class="text-center">
                                <button *ngIf="loginForm.invalid" disabled='false'
                                    class="btn btn-primary btn-signIn btn-context-menu mb-0">Sign In</button>
                            </div>

                            <div class="text-center">
                                <button *ngIf="!loginForm.invalid" class="btn btn-primary btn-signIn mb-0">Sign
                                    In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div [hidden]="!clientState.isBusy" class="loading-login">
                <loading-state></loading-state>
            </div>
        </div>
    </div>
</div>