<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <form class="modal-content has-shadow" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
      <div class="modal-header pt-2 pb-2">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Punch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row ml-n1 mr-n1">
          <div class="col-8 col-md-8 col-lg-6 pl-1 pr-1">
            <div class="row ml-n1 mr-n1">
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>System</label>
                  <input type="text" class="form-control" name="systemNo" #systemNo="ngModel"
                    [(ngModel)]="tagPunchDetail.systemNo" disabled />
                </div>
              </div>
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>Type<span class="required"></span></label>
                  <ng-select name="type" [items]="typeTempModels" bindValue="id" bindLabel="value"
                    placeholder="Select type" #type="ngModel" [(ngModel)]="createPunchItemModel.punchTypeId"
                    [virtualScroll]="true" [loading]="loadingSelection.isLoadingType"
                    (scrollToEnd)="onScrollToEndSelect(selectionControlName.type)"
                    (search)="onSearchSelect($event, selectionControlName.type)"
                    (clear)="onClearSelect(selectionControlName.type)" required>
                  </ng-select>
                  <div *ngIf="type.invalid && (type.dirty || type.touched || f.submitted)" class="error">
                    <div *ngIf="type.errors?.required">This field is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ml-n1 mr-n1">
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>Sub-system</label>
                  <input type="text" class="form-control" name="subSystemNo" #subSystemNo="ngModel"
                    [(ngModel)]="tagPunchDetail.subSystemNo" disabled />
                </div>
              </div>
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>Category<span class="required"></span></label>
                  <ng-select name="category" [items]="categoryModels" bindValue="category" bindLabel="category"
                    placeholder="Select category" #category="ngModel" [(ngModel)]="createPunchItemModel.category"
                    [dropdownPosition]="'top'" required>
                  </ng-select>
                  <div *ngIf="category.invalid && (category.dirty || category.touched || f.submitted)" class="error">
                    <div *ngIf="category.errors?.required">This field is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ml-n1 mr-n1">
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>Discipline</label>
                  <input type="text" class="form-control" name="disciplineCode" #disciplineCode="ngModel"
                    [(ngModel)]="tagPunchDetail.disciplineCode" disabled />
                </div>
              </div>
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>Drawing<span class="required"></span></label>
                  <ng-select name="drawing" [items]="drawingTempModels" [multiple]="true" bindValue="drawingId"
                    bindLabel="drawingNo" placeholder="Select drawing" #drawing="ngModel"
                    [(ngModel)]="createPunchItemModel.drawingIds" [virtualScroll]="true"
                    [loading]="loadingSelection.isLoadingDrawing"
                    (scrollToEnd)="onScrollToEndSelect(selectionControlName.drawing)"
                    (search)="onSearchSelect($event, selectionControlName.drawing)"
                    (clear)="onClearSelect(selectionControlName.drawing)" (change)="onCheckDrawingLocation()"
                    [dropdownPosition]="'top'" [closeOnSelect]="false" required>
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span class="ng-value-label">{{item.drawingNo}} <span *ngIf="item.isLocationDrawing"
                          class="ml-1 badge-success badge font-weight-normal">
                          Location
                        </span></span>
                      <span class="ng-value-icon right" (click)="onClearDrawingSelect(item)">×</span>
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item" let-index="index">
                      <div class="row no-gutters align-item-center justify-content-between">
                        <div class="col-6 text-truncate">
                          <span>{{item.drawingNo}}</span>
                        </div>
                        <div class="col-6 text-right">
                          <span *ngIf="item.isLocationDrawing" class="badge-success badge font-weight-normal">
                            Location
                          </span>
                        </div>
                      </div>
                    </ng-template>
                  </ng-select>

                  <div *ngIf="drawing.invalid && (drawing.dirty || drawing.touched || f.submitted)" class="error">
                    <div *ngIf="drawing.errors?.required">This field is required</div>
                  </div>
                  <div *ngIf="isDrawingError" class="error">
                    <div *ngIf="isDrawingError">There must be at least one drawing location</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4 col-md-4 col-lg-6 pl-1 pr-1">
            <div class="form-group h-100">
              <label>Description<span class="required"></span></label>
              <textarea name="description" rows="5" placeholder="Enter description" class="form-control txt-description"
                [matAutocomplete]="autoDescription" #description="ngModel"
                [(ngModel)]="createPunchItemModel.description" (change)="onChangeDescription()" required></textarea>
              <mat-autocomplete #autoDescription="matAutocomplete" (optionSelected)='onChangeDescription()'>
                <mat-option *ngFor="let option of descriptionModels" [value]="option.description">
                  {{option.description}}
                </mat-option>
              </mat-autocomplete>
              <div *ngIf="description.invalid && (description.dirty || description.touched || f.submitted)"
                class="error">
                <div *ngIf="description.errors?.required">This field is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row ml-n1 mr-n1">
          <div class="col-8 col-md-8 col-lg-6 pl-1 pr-1">
            <div class="row ml-n1 mr-n1">
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>Tag<span class="required"></span></label>
                  <input type="text" class="form-control" name="tagno" #tagno="ngModel"
                    [(ngModel)]="tagPunchDetail.tagNo" disabled />
                </div>
              </div>
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>Materials Required<span class="required"></span></label>
                  <ng-select name="materialsRequired" [items]="materialsRequiredModels" bindValue="value"
                    bindLabel="label" placeholder="Select materials required" #materialsRequired="ngModel"
                    [(ngModel)]="createPunchItemModel.materialsRequired" [dropdownPosition]="'top'" required>
                  </ng-select>
                  <div
                    *ngIf="materialsRequired.invalid && (materialsRequired.dirty || materialsRequired.touched || f.submitted)"
                    class="error">
                    <div *ngIf="materialsRequired.errors?.required">This field is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ml-n1 mr-n1">
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group">
                  <label>Location<span class="required"></span></label>
                  <input type="text" class="form-control" name="locationCode" #locationCode="ngModel"
                    [(ngModel)]="tagPunchDetail.locationCode" disabled />
                </div>
              </div>
              <div class="col-6 col-md-6 col-lg-6 pl-1 pr-1">
                <div class="form-group" *ngIf="createPunchItemModel.materialsRequired">
                  <label>Order No<span class="required"></span></label>
                  <ng-select name="orderNo" [items]="orderNoTempModels" bindValue="id" bindLabel="value"
                    placeholder="Select order no" #orderNo="ngModel" [(ngModel)]="createPunchItemModel.orderId"
                    [virtualScroll]="true" [loading]="loadingSelection.isLoadingOrderNo"
                    (scrollToEnd)="onScrollToEndSelect(selectionControlName.orderNo)"
                    (search)="onSearchSelect($event, selectionControlName.orderNo)"
                    (clear)="onClearSelect(selectionControlName.orderNo)" [dropdownPosition]="'top'" required>
                  </ng-select>
                  <div *ngIf="orderNo.invalid && (orderNo.dirty || orderNo.touched || f.submitted)" class="error">
                    <div *ngIf="orderNo.errors?.required">This field is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4 col-md-4 col-lg-6 pl-1 pr-1">
            <div class="form-group h-100">
              <label>Corrective Action<span class="required"></span></label>
              <textarea name="correctiveAction" rows="2" placeholder="Enter corrective action"
                class="form-control txt-corrective-action" [matAutocomplete]="autoCorrectiveAction"
                #correctiveAction="ngModel" [(ngModel)]="createPunchItemModel.correctiveAction" required></textarea>
              <mat-autocomplete #autoCorrectiveAction="matAutocomplete">
                <mat-option *ngFor="let option of correctiveActionModels" [value]="option.correctiveAction">
                  {{option.correctiveAction}}
                </mat-option>
              </mat-autocomplete>
              <div
                *ngIf="correctiveAction.invalid && (correctiveAction.dirty || correctiveAction.touched || f.submitted)"
                class="error">
                <div *ngIf="correctiveAction.errors?.required">This field is required</div>
              </div>
            </div>
          </div>

          <div class="col-12 pl-1 pr-1">
            <div class="row">
              <div class="col-12">
                <button type="button" mat-raised-button color="primary" class="cursor-pointer">
                  <i class="fas fa-plus mr-2"></i>Add Image
                </button>
                <input id="punchImages" type="file" class="custom-input-file" accept=".jpg,.png" multiple
                  (change)="onFileChange($event)" />
              </div>

              <div class="col-12 mt-3" *ngIf="punchImages && punchImages.length > 0">
                <div class="row ml-n1 mr-n1">
                  <div class="col-3 col-md-3 col-lg-2 pl-1 pr-1 mb-3" *ngFor="let image of punchImages">
                    <img [src]="image.imgUrl" class="w-100 img-punch img-fluid img-thumbnail object-fit-cover"
                      [alt]="image.imgUrl" />
                    <a class="img-close" (click)="onRemoveImage(image)">
                      <i class="fas fa-times"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button mat-raised-button type="button" color="info" class="mr-2" (click)="onSaveAsDraft()">Save</button>
        <button mat-raised-button type="submit" color="primary" class="mr-2">Submit</button>
        <a mat-raised-button data-dismiss="modal" (click)="onCancel()">Cancel</a>
      </div>
    </form>
  </div>
</div>