<div *ngIf="visible" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content has-shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="onSaveData(f)" #f="ngForm" novalidate>
              <div class="modal-body">
                <div class="form-group">
                  <label>Order No.: <span class="required"></span></label>
                  <input type="text" class="form-control" name="orderNo" #orderNo="ngModel"
                         [(ngModel)]="updationModel.orderNo" required autocomplete="off">
                  <div *ngIf="orderNo.invalid && (orderNo.dirty || orderNo.touched || f.submitted)"
                       class="error">
                    <div *ngIf="orderNo.errors?.required">This field is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>
                    Material <span class="required"></span>
                  </label>
                  <select class="form-control" name="material" [(ngModel)]="updationModel.materialId" #material="ngModel" required>
                    <option [ngValue]="null">Select WorkPack No</option>
                    <option *ngFor="let item of materialLookUps" [value]="item.id">{{item.value}}</option>
                  </select>
                  <div *ngIf="material.invalid && (material.dirty || material.touched || f.submitted)"
                       class="error">
                    <div *ngIf="material.errors?.required">This field is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Quantity <span class="required"></span></label>
                  <input type="number" class="form-control" name="quantity" #quantity="ngModel"
                    [(ngModel)]="updationModel.quantity" required autocomplete="off" max="2147483647">
                  <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched || f.submitted)"
                    class="error">
                    <div *ngIf="quantity.errors?.required">This field is required</div>
                  </div>
                </div>
              </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="onCancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
