<div class="content-system" id="contentSystem">
  <div class="scroll-content" id="scrollContent"
    [ngClass]="{'handle-scrollbar':!isPdfShow, 'remove-handle-scrollbar': removeHandleScrollbar}">
    <div class="header" id="header">
      <div class="system-report">
        <div></div>
        <div>System</div>
      </div>
      <div>
        <div>Punch Items</div>
        <div>
          <div class="punch-system-report">PL A</div>
          <div class="punch-system-report">PL B</div>
          <div class="punch-system-report">PL C</div>
        </div>
      </div>
      <div>
        <div>Change</div>
        <div class="change-system-report">O/S</div>
      </div>
      <div *ngFor="let milestone of data2Drawing.milestones">
        <div>{{milestone.value}}</div>
        <div class="milestone-system-report">
          <div class="itrs-system-report">O/S ITRs</div>
          <div class="handover-system-report">Handover</div>
        </div>
      </div>
      <div>
        <div></div>
        <div class="completion-system-report">% Completion</div>
      </div>
    </div>
    <div class="main">
      <div *ngFor="let item of data2Drawing.systems">
        <div class="system-report">{{item.no}}</div>
        <div class="punch-system-report">{{item.aPunchItems}}</div>
        <div class="punch-system-report">{{item.bPunchItems}}</div>
        <div class="punch-system-report">{{item.cPunchItems}}</div>
        <div class="change-system-report">{{item.osChanges}}/{{item.totalChanges}}</div>
        <div *ngFor="let milestone of item.milestones">
          <div class="itrs-system-report">{{milestone.osItrs}}/{{milestone.totalItrs}}</div>
          <!--Should get into a dictionary-->
          <div class="handover-system-report">{{milestone.completedDate}}</div>
        </div>
        <div class="completion-system-report progress-completion">
          <span><strong><small>{{item.completedPercent}}% Completion</small></strong></span>
          <div class="progress-wrapper">
            <div [ngStyle]="{'width': ''+item.completedPercent+'%'}" class="bar"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>