$minWidth4System: 200px;
$minWidth4Punch: 60px;
$minWidth4Change: 80px;
$minWidth4ITRs: 90px;
$minWidth4Handover: 120px;
$minWidth4Completion: 200px;
$headerFontSize: 1rem;
$headerFontWeight: 600;
$mainFontSize: 1rem;
$mainFontWeight: 500;
$headerCellHeight: 30px;

@mixin block($width) {
  min-width: $width;
  text-align: center;
}

.content-system {
  margin-top: 20px;
  min-height: 200px;
  display: flex;
  align-items: flex-end;

  &.scalable-wrap {
    resize: both;
    position: relative;
  }

  .scalable-specific {
    position: relative;
    left: 50%;
    transform-origin: bottom center;
  }

  & > .scroll-content {
    /*---Scroll Bar---*/
    ::-webkit-scrollbar-thumb {
      background-color: #b6b6b6;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #6d6e70;
    }

    &::-webkit-scrollbar {
      height: 10px;
    }
  }

  & > .scroll-content.handle-scrollbar {
    max-height: 600px;
    overflow: auto;
  }

  & > .scroll-content.remove-handle-scrollbar {
    overflow-x: hidden;
    max-height: auto;
  }

  .progress-completion {
    padding: 4px;

    & > .progress-wrapper {
      width: 100%;
      background-color: #ebebeb;
      justify-content: flex-start !important;
    }

    & .bar {
      background-color: #28a745;
      height: 22px;
    }
  }

  .header {
    display: flex;
    align-items: flex-end;
    font-size: $headerFontSize;
    font-weight: $headerFontWeight;

    &.sticky-header {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-color: white;
      z-index: 2;
      width: fit-content;
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    }

    & > div {
      &:first-child > div:first-child,
      &:last-child > div:first-child {
        border: none;
      }

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $headerCellHeight;

        &:first-child {
          border: 1px black solid;
          border-bottom: none;
          border-left: none;
        }

        &:last-child {
          display: flex;
          border: 1px black solid;
          border-left: none;

          & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            &:nth-child(1) {
              border-right: 1px black solid;
              margin-left: -1px;
            }

            &:nth-child(3) {
              border-left: 1px black solid;
              margin-left: -1px;
            }
          }
        }
      }

      &:first-child > div:last-child {
        border-right: none;
        border-left: 1px black solid;
        justify-content: center;
      }

      &:nth-child(2) > div {
        border-left: 1px black solid;
      }

      &:last-child > div:last-child {
        justify-content: center;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;

    & > div {
      display: flex;

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px black solid;
        border-top: none;
        border-left: none;

        &:first-child {
          border-right: none;
          border-left: 1px black solid;
        }

        &:nth-child(2) {
          border-left: 1px black solid;
        }

        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          &:first-child {
            border-right: 1px black solid;
            margin-left: -1px;
          }
        }
      }
    }
  }

  .system-report {
    @include block($minWidth4System);
  }

  .punch-system-report {
    @include block($minWidth4Punch);
  }

  .change-system-report {
    @include block($minWidth4Change);
  }

  .itrs-system-report {
    @include block($minWidth4ITRs);
  }

  .handover-system-report {
    @include block($minWidth4Handover);
  }

  .completion-system-report {
    @include block($minWidth4Completion);
    position: relative;

    & > span:first-child {
      position: absolute;
      z-index: 1;
    }
  }
}
