<div class="content-punchList" id="contentPunch">
  <div class="scroll-content bg-color-section"
    [ngClass]="{'handle-scrollbar':!isPdfShow, 'remove-handle-scrollbar': removeHandleScrollbar}">
    <div class="section" *ngFor="let section of data2Drawing">
      <div class="header" id="header">
        <div>
          <div class="font-weight-bold">System</div>
          <div>{{section.systemNo}}</div>
          <div class="font-weight-bold">System Description</div>
          <div>{{section.systemDescription}}</div>
        </div>
        <div *ngIf="!!section.subSystemId">
          <div class="font-weight-bold">Subsystem</div>
          <div>{{section.subSystemNo}}</div>
          <div class="font-weight-bold">Subsystem Description</div>
          <div>{{section.subSystemDescription}}</div>
        </div>
      </div>
      <div class="main">
        <div class="title">
          <div>Punch No.</div>
          <div>Tag No.</div>
          <div>Punch Description</div>
          <div>Corrective Action</div>
          <div>Category</div>
          <div>Discipline</div>
          <div>Completed By</div>
          <div>Date</div>
          <div>Approved By</div>
          <div>Date</div>
        </div>
        <div class="content" *ngFor="let item of getList(section)">
          <div>{{item.punchNo}}</div>
          <div>{{item.tagNo}}</div>
          <div>{{item.punchDescription}}</div>
          <div class="justify-content-start">{{item.correctiveAction}}</div>
          <div>{{item.category}}</div>
          <div>{{item.discipline}}</div>
          <div>{{item.completedBy}}</div>
          <div>{{item.completeDate}}</div>
          <div>{{item.approvedBy}}</div>
          <div>{{item.approvedDate}}</div>
        </div>
      </div>
    </div>

  </div>
</div>