<div id="progressTabSection">
  <div class="container-fluid">
    <div class="row">
      <app-title class="col-12 d-flex" [title]="'Progress'"></app-title>

      <div class="col-12 mt-4">
        <div class="box has-shadow">
          <div class="box-header bordered">
            <div class="row">
              <div class="col-md-3 col-lg-3">
                <div class="form-group mb-0">
                  <label>Select report type</label>
                  <ng-select name="reportType" [items]="reportTypeModels" bindValue="reportTypeId"
                    bindLabel="reportTypeName" (change)="onSelect($event)" (clear)="clearReportType()"
                    placeholder="Please choose a report type to continue.">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-9 col-lg-9" [ngClass]="{'border-left': isOpenFilterSec}">
                <div class="row" *ngIf="isOpenFilterSec">
                  <ng-container *ngFor="let a of fieldAttributes">
                    <div *ngIf="checkDependentBy(a.key)" class="col-sm-6 col-md-4">
                      <directive-progress [data]="lookupData[a.key]?lookupData[a.key]:[]" [type]="a.type"
                        [fieldName]="fieldNames[a.key].name" [fieldValue]="filterModel[a.key]?filterModel[a.key]:null"
                        [placeholder]="fieldNames[a.key].placeholder" [defaultV]="a.default"
                        (change)="filterFChange($event,a.key,a.type)"></directive-progress>
                    </div>
                  </ng-container>
                  <div class="col-12">
                    <button mat-raised-button type="button" (click)="swipeAllFilter()">
                      <i class="fas fa-eraser mr-1"></i> Reset
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isOpenFilterSec">
          <div class="box">
            <div class="box-header bordered">
              <div class="row align-items-center">
                <div class="col-md-3 col-lg-3">
                  <div class="form-group row align-items-center mb-0">
                    <label class="col-sm-4 col-form-label">Select Format</label>
                    <div class="col-sm-8">
                      <mat-radio-group [value]="reportType" (change)="reportType = $event.value" color="primary"
                        aria-label="Select an option" class="p-2" [disabled]="isDisableAnother">
                        <mat-radio-button value="PDF" checked="true" class="mr-2">
                          <strong><small>PDF</small></strong>
                        </mat-radio-button>
                        <mat-radio-button value="EXCEL"><strong><small>EXCEL</small></strong></mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group row align-items-center mb-0">
                    <label class="col-md-4 col-lg-3 col-form-label">Preview or Export</label>
                    <div class="col-md-8 col-lg-9">
                      <button mat-raised-button (click)="export()" [disabled]="isDisableAnother"
                        [ngClass]="{'btn-warning':!isDisableAnother,'btn-secondary':isDisableAnother}"
                        style="width: 110px;">
                        <i *ngIf="!isLoadingExportBtn" class="fas fa-download mr-1"></i>
                        <img *ngIf="isLoadingExportBtn" src="./../../../assets/icons/pointed-spin.svg"
                          alt="Pointed spin" class="mr-1" />
                        Export</button>
                      <button mat-raised-button class="ml-2" (click)="preview()" [disabled]="isDisableAnother"
                        [ngClass]="{'btn-info':!isDisableAnother,'btn-secondary':isDisableAnother}"
                        style="width: 110px;">
                        <i *ngIf="!isLoadingPreviewBtn" class="fas fa-eye mr-1"></i>
                        <img *ngIf="isLoadingPreviewBtn" src="./../../../assets/icons/pointed-spin.svg"
                          alt="Pointed spin" class="mr-1" />
                        Preview</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="box" [ngClass]="{'opacity-0': !isShowPreview}" id="previewerSection">
            <div class="box-body pt-2" [ngStyle]="{'height': !isShowPreview?'0':'auto', 'overflow': 'hidden'}"
              id="previewerBody">
              <h5>Preview</h5>

              <div class="row">
                <div class="col-12">
                  <div class="pdf-viewer active">
                    <span
                      *ngIf="!dataModel4Excel && !dataModel4Pdf || ((dataModel4Excel && dataModel4Excel.length < 1) && (dataModel4Pdf && dataModel4Pdf.length < 1))">
                      <div class="w-100 text-secondary text-center"><em class="text-danger">There are no items to show
                          in this view!</em>
                      </div>
                    </span>
                    <!-- preview pdf -->
                    <span *ngIf="dataModel4Excel && reportType === 'EXCEL'">
                      <div class="cover-page">
                        <layout-exported-page [data4Content]="dataModel4Excel" [layoutReportModel]="layoutReportModel"
                          [layout4]="currentReportType.key" [isPdfShow]="false">
                        </layout-exported-page>
                      </div>
                    </span>
                    <span *ngIf="dataModel4Pdf && reportType === 'PDF'" id="pdfContent">
                      <div *ngFor="let models of dataModel4Pdf; let i = index">
                        <div [title]="'Page ' + (i+1) + '/' + dataModel4Pdf.length" class="cover-page"
                          [id]="'pdfContent_'+i">
                          <layout-exported-page [data4Content]="models" [layoutReportModel]="layoutReportModel"
                            [layout4]="currentReportType.key">
                          </layout-exported-page>
                        </div>
                        <div class="paging">
                          Page {{i+1}}/{{dataModel4Pdf.length}}
                        </div>
                        <div class="border-bottom-paging" *ngIf="dataModel4Pdf.length !== i+1">

                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>