<div class="position-relative">
    <div class="container-fluid">
        <div class="row">
            <app-title class="col-12 d-flex" [title]="'Limits'"></app-title>
        </div>

        <div class="row mt-4 flex-row">
            <div class="col-md-6 col-lg-6">
                <div class="box has-shadow w-100">
                    <div class="box-body">
                        <div class="filter-header" data-toggle="collapse" href="#searchForm" role="button"
                            aria-expanded="true" aria-controls="searchForm" (click)="onCollapse()">
                            <h2><i class="fas fa-filter mr-1"></i> Filter by <i class="fas ml-1"
                                    [ngClass]="{'fa-caret-up': !isCollapse, 'fa-caret-down': isCollapse}"></i>
                            </h2>
                            <div class="separator-dashed"></div>
                        </div>

                        <div class="filter-section collapse" id="searchForm">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label>System:</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-search mr-1"></i>
                                        Search</button>
                                    <button class="btn btn-light ml-2" type="button"><i class="fas fa-times mr-1"></i>
                                        Reset</button>
                                </div>
                            </div>

                            <div class="separator-dashed"></div>
                        </div>

                        <div class="table-options mb-3">
                            <button class="btn btn-primary" data-toggle="modal" data-backdrop="static"
                                data-keyboard="false" data-target="#addNewModal" (click)="onOpenAddModal()">
                                <i class="fas fa-plus"></i> Add New
                            </button>
                            <button class="btn btn-danger ml-2" data-toggle="modal" data-backdrop="static"
                                data-keyboard="false" data-target="#confirmModal" (click)="onOpenDeleteModal()">
                                <i class="far fa-trash-alt"></i> Delete All
                            </button>
                            <button class="btn btn-warning ml-2">
                                <i class="fas fa-file-download"></i> Export
                            </button>
                            <button class="btn btn-info ml-2" (click)="pdfPreview()">
                                <i class="fas fa-eye"></i> Preview
                            </button>
                        </div>

                        <div class="table-container table-responsive">
                            <table mat-table [dataSource]="dataSource" matSort
                                class="table table-striped table-bordered table-hover">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef class="text-center">
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="drawingNo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Drawing No.</th>
                                    <td mat-cell *matCellDef="let element">{{element.drawingNo}}</td>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                                </ng-container>

                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                                    <td mat-cell *matCellDef="let element">{{element.type}}</td>
                                </ng-container>

                                <ng-container matColumnDef="rev">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rev</th>
                                    <td mat-cell *matCellDef="let element">{{element.rev}}</td>
                                </ng-container>

                                <ng-container matColumnDef="edit">
                                    <th mat-header-cell *matHeaderCellDef class="text-center">Edit</th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <a class="btn-edit" data-toggle="modal" data-backdrop="static"
                                            data-keyboard="false" data-target="#editModal" (click)="onOpenEditModal()">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="delete">
                                    <th mat-header-cell *matHeaderCellDef class="text-center">Delete</th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <a class="btn-delete" data-toggle="modal" data-backdrop="static"
                                            data-keyboard="false" data-target="#confirmModal"
                                            (click)="onOpenDeleteModal()">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="50"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="box has-shadow w-100">
                    <div class="box-header bordered d-flex align-items-center">
                        <h2>PDF viewer</h2>
                    </div>
                    <div class="box-body h-100">
                        <div class="pdf-viewer h-95" [ngClass]="{hidden: !isShowPreview}">
                            <div class="pdf-viewer-logo mb-3 pb-3">
                                <img alt="Logo Company" class="img-fluid" src="../../../../assets/img/logo-main.png">
                            </div>

                            <div class="table-preview table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Drawing No.</th>
                                            <th>Description</th>
                                            <th>Type</th>
                                            <th>Rev</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
                                            <td class="text-center">
                                                {{n}}
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-limits-tab *ngIf="isAddNewState" [visible]="isAddNewState" (onSuccess)="onSuccessAddModal($event)">
</add-limits-tab>

<edit-limits-tab *ngIf="isEditState" [visible]="isEditState" (onSuccess)="onSuccessEditModal($event)"></edit-limits-tab>

<confirm-modal *ngIf="isDeleteState" [visible]="isDeleteState" (confirm)="onDeleteConfirm($event)" [header]="'Confirm'"
    [content]="'Are you sure want to delete?'"></confirm-modal>