<div *ngIf="visible" class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content has-shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{header}}</h5>
        <button *ngIf="!hiddenCloseSymbol" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        {{content}}
        <div class="d-flex align-items-center justify-content-center">
          <div class="separate-div">
            <h5>Or</h5>
          </div>
        </div>
        <div>
          <span class="link-another-sign" data-toggle="modal" data-backdrop="static" data-keyboard="false"
            data-target="#confirmPinCodeModal" (click)="onLoginConfirm()">Sign as different user</span>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-raised-button color="warn" (click)="onConfirm()" class="mr-2" data-toggle="modal"
          data-backdrop="static" data-keyboard="false" data-target="#confirmPinCodeModal">Yes</button>
        <a mat-raised-button data-dismiss="modal" (click)="onClose()">No</a>
      </div>
    </div>
  </div>
</div>