<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content has-shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSaveData(f)" #f="ngForm" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label>Name<span class="required"></span></label>
            <input type="text" class="form-control" name="projectName" #projectName="ngModel"
              [(ngModel)]="projectUpdationModel.projectName" required autocomplete="off">
            <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched || f.submitted)" class="error">
              <div *ngIf="projectName.errors?.required">This field is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Key<span class="required"></span></label>
            <input type="text" class="form-control" name="projectKey" #projectKey="ngModel"
              [(ngModel)]="projectUpdationModel.projectKey" required autocomplete="off">
            <div *ngIf="projectKey.invalid && (projectKey.dirty || projectKey.touched || f.submitted)" class="error">
              <div *ngIf="projectKey.errors?.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Asset<span class="required"></span></label>
            <input type="text" class="form-control" name="asset" #asset="ngModel"
              [(ngModel)]="projectUpdationModel.asset" required autocomplete="off">
            <div *ngIf="asset.invalid && (asset.dirty || asset.touched || f.submitted)" class="error">
              <div *ngIf="asset.errors?.required">This field is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Company<span class="required"></span></label>
            <ng-select name="companyManagement" [items]="companyManagementModels" bindValue="id" bindLabel="value"
              [(ngModel)]="projectUpdationModel.companyId">
              <ng-template ng-label-tmp let-item="item">
                <ngx-avatar *ngIf="!item.photoUrl" name="{{item.value}}" size="30" class="float-left">
                </ngx-avatar>
                <ngx-avatar *ngIf="item.photoUrl" src="{{item.photoUrl}}" size="30" class="float-left">
                </ngx-avatar>
                <div class="float-left ml-2 mt-1">
                  {{item.value}}
                </div>
              </ng-template>

              <ng-template ng-option-tmp let-item="item" let-index="index">
                <ngx-avatar *ngIf="!item.photoUrl" name="{{item.value}}" size="30" class="float-left">
                </ngx-avatar>
                <ngx-avatar *ngIf="item.photoUrl" src="{{item.photoUrl}}" size="30" class="float-left">
                </ngx-avatar>
                <div class="float-left ml-2 mt-1">
                  {{item.value}}
                </div>
              </ng-template>
            </ng-select>
            <div *ngIf="f.submitted" class="error">
              <div *ngIf="!projectUpdationModel.companyId">This field is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Status<span class="required"></span></label>
            <ng-select name="projectStatus" [items]="projectStatusModels" bindValue="id" bindLabel="value"
              [(ngModel)]="projectUpdationModel.projectStatusId">
            </ng-select>
            <div *ngIf="f.submitted" class="error">
              <div *ngIf="!projectUpdationModel.projectStatusId">This field is required</div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button mat-raised-button color="primary" class="mr-2">Save</button>
          <a mat-raised-button data-dismiss="modal" (click)="onCancel()">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>