.container-symbol-modal {
    width: 100vw;
    z-index: 99999;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 10vh;

    .select-symbol-modal {
        max-height: 500px;
        overflow-y: auto;
        -webkit-overflow-scrolling: auto;
        margin: auto;
        border: 1px solid black;
        width: 452px;
        flex-wrap: wrap;
        background-color: white;
        padding: 20px;
        border-radius: 5px;

        .symbol-of-list {
            width: 30px;
            height: 30px;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.082);

            &:hover {
                border: 1px solid black;
                cursor: pointer;
            }
        }

        .waring-no-data {
            padding: 10px;
        }
    }
}