<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sync-detail m-0 mw-100 mh-100"
  role="document">
  <div class="modal-content has-shadow h-100">
    <div class="custom-modal-header">
      <div class="row no-gutters align-items-center">
        <div class="col-9 col-md-10">
          <div class="d-flex align-items-center">
            <h5 class="modal-title text-nowrap">Synchronizing Views' Detail</h5>
          </div>
        </div>
        <div class="col-3 col-md-2">
          <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-body h-100">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngIf="syncData.syncTags && syncData.syncTags.length>0"
          [disabled]="!syncData.syncTags || syncData.syncTags.length<1" expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Tags Synchronized</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="list-unstyled">
            <li *ngFor="let item of syncData.syncTags">
              <div>
                <i *ngIf="item.isCompleted" class="far fa-check-circle mr-2 text-success"></i>
                <i *ngIf="!item.isCompleted && !!item.error" class="far fa-times-circle mr-2 text-danger"></i>
                <img *ngIf="!item.isCompleted && !item.error" class="mr-2"
                  src="./../../../../assets/icons/nav-tab-spin.svg" alt="Pointed spin" />
                <span>[Tag] {{item.no}}</span>
              </div>
              <div>
                <small class="text-danger">{{item.error}}</small>
              </div>
            </li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="syncData.syncPunches && syncData.syncPunches.length>0"
          [disabled]="!syncData.syncPunches || syncData.syncPunches.length<1" expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Punches Synchronized</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="list-unstyled">
            <li *ngFor="let item of syncData.syncPunches">
              <div>
                <i *ngIf="item.isCompleted" class="far fa-check-circle mr-2 text-success"></i>
                <i *ngIf="!item.isCompleted && !!item.error" class="far fa-times-circle mr-2 text-danger"></i>
                <img *ngIf="!item.isCompleted && !item.error" class="mr-2"
                  src="./../../../../assets/icons/nav-tab-spin.svg" alt="Pointed spin" />
                <span>[Punch] {{item.no}}</span>
              </div>
              <div>
                <small class="text-danger">{{item.error}}</small>
              </div>
            </li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="syncData.syncHandovers && syncData.syncHandovers.length>0"
          [disabled]="!syncData.syncHandovers || syncData.syncHandovers.length<1" expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Milestones Synchronized</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="list-unstyled">
            <li *ngFor="let item of syncData.syncHandovers">
              <div>
                <i *ngIf="item.isCompleted" class="far fa-check-circle mr-2 text-success"></i>
                <i *ngIf="!item.isCompleted && !!item.error" class="far fa-times-circle mr-2 text-danger"></i>
                <img *ngIf="!item.isCompleted && !item.error" class="mr-2"
                  src="./../../../../assets/icons/nav-tab-spin.svg" alt="Pointed spin" />
                <span>[Handover] {{item.no}}</span>
              </div>
              <div>
                <small class="text-danger">{{item.error}}</small>
              </div>
            </li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="syncData.syncPreservation && syncData.syncPreservation.length>0"
          [disabled]="!syncData.syncPreservation || syncData.syncPreservation.length<1" expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Preservation Synchronized</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="list-unstyled">
            <li *ngFor="let item of syncData.syncPreservation">
              <div>
                <i *ngIf="item.isCompleted" class="far fa-check-circle mr-2 text-success"></i>
                <i *ngIf="!item.isCompleted && !!item.error" class="far fa-times-circle mr-2 text-danger"></i>
                <img *ngIf="!item.isCompleted && !item.error" class="mr-2"
                  src="./../../../../assets/icons/nav-tab-spin.svg" alt="Pointed spin" />
                <span>[Preservation] {{item.no}}</span>
              </div>
              <div>
                <small class="text-danger">{{item.error}}</small>
              </div>
            </li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</div>