<div *ngIf="visible" class="modal fade" id="templateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content has-shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Download Import Template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body justify-content-center d-flex">
          <a mat-raised-button (click)="onDownload()" class="mx-1" color="primary"
            href="../../../../assets/data-template/tag.csv">
            <i class="fas fa-download  "></i> Download template Tag
          </a>
          <a mat-raised-button (click)="onDownload()" class="mx-1" color="primary"
            href="../../../../assets/data-template/tagdrawing.csv">
            <i class="fas fa-download "></i> Download template Tag's Drawing
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
