/* You can add global styles to this file, and also import other style files */
@import "assets/css/checkbox.scss";
@import "assets/css/common.scss";
@import "assets/css/input-group.scss";
@import "assets/css/radio.scss";
@import "assets/css/right-sidebar.scss";
@import "assets/css/table.scss";
@import "assets/css/material-custom.scss";
@import "assets/css/itr-common.scss";
@import "assets/css/preservation.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ngx-toastr/toastr";
@import "~ngx-lightbox/lightbox.css";
@import "~material-design-icons/iconfont/material-icons.css";

.gjs-pn-btn .fa .fa-paint-brush {
  display: inline-block;
  width: 50%;
}

.gjs-pn-btn .fa .fa-th-large .gjs-pn-active .gjs-four-color {
  display: inline-block;
  width: 50%;
}

.style-manage-custom-label:hover {
  font-weight: bold;
}

.disabled-element {
  pointer-events: none;
}
