<div class="container-fluid position-relative" [ngClass]="{ 'tag-shrinked': isShowRightSideBar && !isTablet }">
  <div *ngIf="!isShowITRBuilder">
    <div class="row no-gutters">
      <div class="col-3 col-md-5 col-lg-6">
        <app-title class="float-left mr-2" [title]="'Tag'"></app-title>

        <button *ngIf="!isOffline && isEditState" mat-mini-fab class="mat-mini-fab-sm shadow-none" color="primary"
          type="button" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          (click)="toggleDropdown()" matTooltip="Click to search">
          <i class="fas fa-search"></i>
        </button>

        <button *ngIf="!isOffline && isEditState" mat-mini-fab class="mat-mini-fab-sm shadow-none ml-2" color="success"
          type="button" matTooltip="Refresh data" (click)="onCancelFilter()">
          <i class="fas fa-sync-alt"></i>
        </button>
      </div>

      <div class="col-12 col-md-7 col-lg-6 text-right button-action-container">
        <button *ngIf="!isOffline && isEditState" mat-raised-button color="info" (click)="onRevertTag()"
          [disabled]="isDisableRevert()" role="button" aria-expanded="true" data-toggle="modal" data-backdrop="static"
          data-keyboard="false" data-target="#confirmModal" aria-controls="unlockForm">
          <i class="fas fa-undo-alt mr-1"></i>Revert
        </button>
        <button *ngIf="!isOffline && isEditState && onCheckPermission(permissionsViews.TAG_TAB_LOCK_TAG)"
          mat-raised-button color="warn" class="ml-2" (click)="onLockTagTab()" [disabled]="isDisableDownload()"
          data-toggle="collapse" role="button" aria-expanded="true" aria-controls="downloadForm">
          <i class="fa fa-lock mr-1" aria-hidden="true"></i>Lock
        </button>
        <button *ngIf="isTablet && !isOffline && isEditState && selection.selected.length > 0" mat-raised-button
          color="success" class="ml-2" (click)="onSyncSelectedTag()" [disabled]="isDisableSyncSelected()" role="button"
          aria-expanded="true" data-toggle="modal" data-backdrop="static" data-keyboard="false"
          data-target="#confirmModal" aria-controls="syncSelectedForm">
          <i class="fas fa-sync-alt mr-1"></i>Sync Selected
        </button>
        <button *ngIf="isTablet && !isOffline && isEditState" mat-raised-button color="accent"
          (click)="onDownloadTagTab()" [disabled]="isDisableDownload()" data-toggle="collapse" role="button"
          aria-expanded="true" aria-controls="downloadForm" class="ml-2">
          <i class="fas fa-download mr-1"></i>Download
        </button>

        <button *ngIf="!isTablet && isEditState" mat-raised-button color="primary" (click)="onEditTagTab()"
          data-toggle="collapse" href="#editForm" role="button" aria-expanded="true" aria-controls="editForm"
          class="ml-2">
          <i class="fas fa-pencil-alt mr-1"></i> Edit
        </button>
        <button mat-raised-button color="primary" *ngIf="!isEditState" data-toggle="modal" data-backdrop="static"
          data-keyboard="false" data-target="#confirmModal" (click)="onOpenApplyToAllModal()"
          [disabled]="!isEnableApplyToAll">
          <i class="fas fa-check-circle mb-1 mr-1"></i> Apply to all
        </button>
        <button mat-raised-button color="primary" class="ml-2" *ngIf="!isEditState" data-toggle="modal"
          data-backdrop="static" data-keyboard="false" data-target="#confirmModal" (click)="onOpenApplyModal()"
          [disabled]="!isEnableApply">
          <i class="fas fa-check"></i> Apply
        </button>
        <button mat-raised-button *ngIf="!isEditState" (click)="onCancelTagTab()" data-toggle="collapse"
          href="#editForm" role="button" aria-expanded="true" aria-controls="editForm" class="ml-2">
          <i class="fas fa-times mr-1"></i> Cancel
        </button>
      </div>

      <div class="dropdown dropdown-search">
        <div class="dropdown-menu pt-2 pl-3 pr-3 pb-3 mt-2" aria-labelledby="dropdownSearch"
          [ngClass]="{ show: isToggleDropdown }">
          <div class="text-right">
            <button type="button" class="close float-none" aria-label="Close" (click)="toggleDropdown()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="separator-dashed mt-2 mb-2"></div>

          <form (ngSubmit)="onGetTagTab()">
            <div class="row">
              <div class="col-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>System:</label>
                  <ng-select class="ng-select-height-custom" name="systemFilter" [items]="systemFilterTemModels"
                    bindValue="value" #system="ngModel" bindLabel="value" placeholder="Select System"
                    [(ngModel)]="systemFilter" (change)="onGetSubSystemBySystemFilter($event)" [virtualScroll]="true"
                    [loading]="isLoadingSelectSystemFilter" (scrollToEnd)="onScrollToEndSystemFilter()"
                    (search)="onSearchSystemFilter($event)" (clear)="onClearSystemFilter()">
                  </ng-select>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Sub System:</label>
                  <ng-select class="ng-select-height-custom" name="SubSystem" [items]="subSystemFilterTempModel"
                    bindValue="value" #subSystem="ngModel" bindLabel="value" placeholder="Select Sub System"
                    [(ngModel)]="subSystemFilter" [virtualScroll]="true" [loading]="isLoadingSelectSubSystemFilter"
                    (scrollToEnd)="onScrollToEndSubSystemFilter()" (search)="onSearchSubSystemFilter($event)"
                    (clear)="onClearSubSystemFilter()">
                  </ng-select>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Parent:</label>
                  <ng-select class="ng-select-height-custom" name="parent" [items]="tagParentLookupModels"
                    bindValue="value" bindLabel="value" placeholder="Select Tag Parent" #parent="ngModel"
                    [(ngModel)]="parentFilter">
                  </ng-select>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Discipline:</label>
                  <ng-select class="ng-select-height-custom" name="discipline" [items]="disciplineFilterTempModels"
                    bindValue="value" bindLabel="value" placeholder="Select Discipline" #discipline="ngModel"
                    [(ngModel)]="disciplineFilter" [virtualScroll]="true" [loading]="isLoadingDisciplineSelectFilter"
                    (scrollToEnd)="onScrollToEndDisciplineFilter()" (search)="onSearchDisciplineFilter($event)"
                    (clear)="onClearDisciplineFilter()">
                  </ng-select>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Equipment Type:</label>
                  <ng-select class="ng-select-height-custom" name="equipment" [items]="equipmentFilterTempModel"
                    bindValue="value" bindLabel="value" placeholder="Select Equipment Type" #equipmentType="ngModel"
                    [(ngModel)]="equipmentTypeFilter" [virtualScroll]="true" [loading]="isLoadingSelectEquipmentFilter"
                    (scrollToEnd)="onScrollToEquipmentTypeFilter()" (search)="onSearchEquipmentTypeFilter($event)"
                    (clear)="onClearEquipmentTypeFilter()">
                  </ng-select>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Status:</label>
                  <ng-select class="ng-select-height-custom" name="status" [items]="statusFilterModel" bindValue="value"
                    bindLabel="label" placeholder="Select status" #status="ngModel" [(ngModel)]="statusFilter">
                  </ng-select>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Location:</label>
                  <ng-select class="ng-select-height-custom" name="equipment" [items]="locationFilterTempModel"
                    bindValue="value" bindLabel="value" placeholder="Select Location" #location="ngModel"
                    [(ngModel)]="locationFilter" [virtualScroll]="true" [loading]="isLoadingSelectLocationFilter"
                    (scrollToEnd)="onScrollToLocationFilter()" (search)="onSearchLocationFilter($event)"
                    (clear)="onClearLocationFilter()">
                  </ng-select>
                </div>
              </div>

              <div class="col-6 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Tag Type:</label>
                  <ng-select class="ng-select-height-custom" name="equipment" [items]="dataTagTypeModels"
                    bindValue="value" bindLabel="value" placeholder="Select Tag Type" #tagType="ngModel"
                    [(ngModel)]="tagTypeFilter">
                  </ng-select>
                </div>
              </div>

              <div class="col-12">
                <div class="separator-dashed mt-0"></div>
              </div>

              <div class="col-12">
                <button mat-raised-button color="success" type="submit">
                  <i class="fas fa-search mr-1"></i> Search
                </button>
                <button mat-raised-button class="ml-2" type="button" (click)="onClearData()">
                  <i class="fas fa-eraser mr-1"></i> Clear
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <div class="box has-shadow">
          <div class="box-body">
            <div id="editForm" class="collapse">
              <h2><i class="far fa-edit mr-1"></i> Edit Tag</h2>
              <div class="separator-dashed"></div>
              <div class="row">
                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>System:</label>
                    <ng-select name="systemFilter" [items]="systemTemModels" bindValue="id" #system="ngModel"
                      bindLabel="value" placeholder="Select System" [(ngModel)]="dataApplyModel.systemId"
                      (change)="onGetSubSystemBySystem($event)" [virtualScroll]="true" [loading]="isLoadingSelectSystem"
                      (scrollToEnd)="onScrollToEndSystem()" (search)="onSearchSystem($event)" (clear)="onClearSystem()">
                    </ng-select>
                  </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>Sub System:</label>
                    <ng-select name="SubSystem" [items]="subSystemTempModel" bindValue="id" #subSystem="ngModel"
                      bindLabel="value" placeholder="Select Sub System" [(ngModel)]="dataApplyModel.subSystemId"
                      [virtualScroll]="true" [loading]="isLoadingSelectSubSystem"
                      (scrollToEnd)="onScrollToEndSubSystem()" (search)="onSearchSubSystem($event)"
                      (clear)="onClearSubSystem()">
                    </ng-select>
                  </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>Parent:</label>
                    <ng-select name="parent" [items]="tagLookupModels" bindValue="id" bindLabel="value"
                      placeholder="Select Tag Parent" #parent="ngModel" [(ngModel)]="dataApplyModel.parentId">
                    </ng-select>
                  </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>Discipline:</label>
                    <ng-select name="discipline" [items]="disciplineTempModels" bindValue="id" bindLabel="value"
                      placeholder="Select Discipline" #discipline="ngModel" [(ngModel)]="dataApplyModel.disciplineId"
                      [virtualScroll]="true" [loading]="isLoadingSelect" (scrollToEnd)="onScrollToEndDiscipline()"
                      (search)="onSearchDiscipline($event)" (clear)="onClearDiscipline()">
                    </ng-select>
                  </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>Work Pack:</label>
                    <ng-select name="workPack" [items]="workPackTempModel" bindValue="id" bindLabel="value"
                      placeholder="Select Workpack" #workPack="ngModel" [(ngModel)]="dataApplyModel.workPackId"
                      [virtualScroll]="true" [loading]="isLoadingSelectWorkPack" (scrollToEnd)="onScrollToWorkPack()"
                      (search)="onSearchWorkPack($event)" (clear)="onClearWorkPack()">
                    </ng-select>
                  </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>Equipment Type:</label>
                    <ng-select name="equipment" [items]="equipmentTempModel" bindValue="id" bindLabel="value"
                      placeholder="Select Equipment Type" #equipmentType="ngModel"
                      [(ngModel)]="dataApplyModel.equipmentTypeId" [virtualScroll]="true"
                      [loading]="isLoadingSelectEquipment" (scrollToEnd)="onScrollToEquipmentType()"
                      (search)="onSearchEquipmentType($event)" (clear)="onClearEquipmentType()">
                    </ng-select>
                  </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>Status:</label>
                    <select class="form-control status-select" name="status" #status="ngModel"
                      [(ngModel)]="dataApplyModel.status">
                      <option value="true">Active</option>
                      <option value="false">InActive</option>
                    </select>
                  </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>Location:</label>
                    <ng-select name="equipment" [items]="locationTempModel" bindValue="value" bindLabel="value"
                      placeholder="Select Location" #location="ngModel" [(ngModel)]="dataApplyModel.locationId"
                      [virtualScroll]="true" [loading]="isLoadingSelectLocation" (scrollToEnd)="onScrollToLocation()"
                      (search)="onSearchLocation($event)" (clear)="onClearLocation()">
                    </ng-select>
                  </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label>Tag Type:</label>
                    <ng-select name="tagType" [items]="dataTagTypeModels" bindValue="value" bindLabel="value"
                      placeholder="Select Tag Type" #tagType="ngModel" [(ngModel)]="dataApplyModel.tagType">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="separator-dashed mt-0"></div>
            </div>

            <div class="table-container table-responsive" #tableContainer>
              <table mat-table [dataSource]="dataSource" matSort matSortActive="tagNo" matSortDirection="desc"
                matSortDisableClear (matSortChange)="onSortData($event)"
                class="table table-striped table-bordered table-hover" *ngIf="dataTagNoModels.length > 0">

                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef class="text-center shadow-sm" [hidden]="isOffline">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [disabled]="selectionDownloading && selectionDownloading.length > 0"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row" class="text-center" [hidden]="isOffline">
                    <mat-checkbox
                      [disabled]="(!isTablet && row.locked && !isEditState) || (isTablet && checkDownloading(row.tagId))"
                      (click)="$event.stopPropagation()" (change)="$event ? toggleSelection(row) : null"
                      [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="tagNo" [sticky]="isTablet">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Tag No.</th>
                  <td mat-cell *matCellDef="let element" class="shadow-sm">
                    <div class="d-flex align-items-center justify-content-between">
                      <span class="tagNo-item text-nowrap" (click)="openRightSideBar(element)">
                        {{element.tagNo}}
                      </span>
                      <mat-spinner *ngIf="checkDownloading(element.tagId)" mode="indeterminate" diameter="18"
                        strokeWidth="3" color="accent">
                      </mat-spinner>
                      <span *ngIf="!isOffline && getTagInLocal(element.tagId) && !checkDownloading(element.tagId)"
                        class="ml-1">
                        <i *ngIf="onCheckType(typeDownloadAndSync.downloaded, element.tagId)" class="fas fa-sync-alt"
                          [ngClass]="{'text-secondary':!onCheckTagNeedSync(element.tagId) && element.locked,'text-warning':onCheckTagNeedSync(element.tagId) || !element.locked}"></i>
                        <i *ngIf="onCheckType(typeDownloadAndSync.syncSuccessful, element.tagId)"
                          class="far fa-check-circle text-success"></i>
                        <i *ngIf="onCheckType(typeDownloadAndSync.syncFailed, element.tagId)"
                          class="far fa-times-circle text-danger"></i>
                      </span>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="locked">
                  <th mat-header-cell *matHeaderCellDef class="shadow-sm text-center">Locked</th>
                  <td mat-cell *matCellDef="let element; let i = index" class="text-center">
                    <span *ngIf="element.locked">
                      <i class="fa fa-lock text-secondary" aria-hidden="true"></i>
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="tagName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Description</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'tagName')}">
                    {{ element.tagName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="system">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">System</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'system')}">
                    {{ element.system }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="subSystem">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Sub System</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'subSystem')}">
                    {{ element.subSystem }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="parent">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Parent</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'parent')}">
                    {{ element.parent }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="drawings">
                  <th mat-header-cell *matHeaderCellDef class="shadow-sm">Drawings</th>
                  <td mat-cell *matCellDef="let element" class="text-nowrap">
                    <ng-container>
                      <span *ngIf="element.drawings && element.drawings.length >= 1" class="drawing-btn cursor-pointer"
                        data-toggle="modal" data-backdrop="static" data-keyboard="false"
                        data-target="#tagDrawingsInfoModal" (click)="onShowDrawings(element.drawings, element.tagId)">
                        <span class="toping ">{{element.drawings.length}}</span>
                        <span><i class="fas fa-paperclip"></i></span>
                      </span>
                    </ng-container>
                  </td>
                </ng-container>

                <ng-container matColumnDef="locationCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Location</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'locationCode')}">
                    {{ element.locationCode }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="discipline">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Discipline</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'discipline')}">
                    {{ element.discipline }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="tagType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Tag Type</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'tagType')}">
                    {{ element.tagType }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="equipmentType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Equipment Type</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'equipmentType')}">
                    {{ element.equipmentType }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="workPackNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Workpack</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'workPackNo')}">
                    {{ element.workPackNo }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="jobCardLookUpValueModels">
                  <th mat-header-cell *matHeaderCellDef class="shadow-sm">Jobcard(s)</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i,element,'jobCardLookUpValueModels')}">
                    <ng-container
                      *ngIf="element.jobCardLookUpValueModels && element.jobCardLookUpValueModels.length > 0">
                      <span class="d-block mt-1 mb-1"
                        *ngFor="let item of element.jobCardLookUpValueModels;let i = index">
                        <span class="text-uppercase"
                          *ngIf="element.jobCardLookUpValueModels && 2 >= i && 3 > element.jobCardLookUpValueModels.length">{{
                          item.value }}</span>
                      </span>
                      <a *ngIf="element.jobCardLookUpValueModels && element.jobCardLookUpValueModels.length > 3"
                        class="text-primary d-block mt-1 mb-2 text-nowrap" data-toggle="modal" data-backdrop="static"
                        data-keyboard="false" data-target="#jobCardsInfoModal"
                        (click)="onOpenJobCardsInfoModal(element.jobCardLookUpValueModels)">
                        <i class="fas fa-eye mr-1"></i>Multiple
                      </a>
                    </ng-container>
                  </td>
                </ng-container>

                <ng-container matColumnDef="lockedBy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Locked By</th>
                  <td mat-cell *matCellDef="let element; let i = index"><span *ngIf="element.locked">{{ element.lockedBy
                      }}</span></td>
                </ng-container>

                <ng-container matColumnDef="lockedDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="shadow-sm">Locked Date</th>
                  <td mat-cell *matCellDef="let element; let i = index"><span *ngIf="element.locked">{{
                      convertDateString(element.lockedDate) }}</span></td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="shadow-sm text-center">Active</th>
                  <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'active-item': isChangeData(i, element, 'status')}" class="text-center">
                    <span [ngClass]="{'badge-success': element.status,'badge-secondary': !element.status}"
                      class="badge p-2 d-block">
                      {{ element.status ? "Active" : "InActive" }}
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef class="shadow-sm text-center">Delete</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <a *ngIf="!element.locked" class="btn-delete" data-toggle="modal" data-backdrop="static"
                      data-keyboard="false" data-target="#confirmModal" (click)="onOpenDeleteModal(element.tagId)">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>

              <!-- Datatable empty -->
              <table class="table table-bordered table-hover" role="grid"
                *ngIf="dataTagNoModels && dataTagNoModels.length === 0">
                <thead role="rowgroup">
                  <tr class="mat-header-row" role="row">
                    <th class="mat-header-cell" role="columnheader">Tag No.</th>
                    <th class="mat-header-cell" role="columnheader">Description</th>
                    <th class="mat-header-cell" role="columnheader">System</th>
                    <th class="mat-header-cell" role="columnheader">Sub System</th>
                    <th class="mat-header-cell" role="columnheader">Parent</th>
                    <th class="mat-header-cell" role="columnheader">Location</th>
                    <th class="mat-header-cell" role="columnheader">Discipline</th>
                    <th class="mat-header-cell" role="columnheader">Tag Type</th>
                    <th class="mat-header-cell" role="columnheader">Equipment Type</th>
                    <th class="mat-header-cell" role="columnheader">Workpack</th>
                    <th class="mat-header-cell" role="columnheader">Jobcard(s)</th>
                    <th class="mat-header-cell" role="columnheader">Locked</th>
                    <th class="mat-header-cell" role="columnheader">Locked By</th>
                    <th class="mat-header-cell" role="columnheader">Locked Date</th>
                    <th class="mat-header-cell text-center" role="columnheader">Active</th>
                    <th class="mat-header-cell text-center" role="columnheader">Delete</th>
                  </tr>
                </thead>
                <tbody role="rowgroup">
                  <tr class="mat-row" role="row">
                    <td class="text-center" colspan="16">There is no item!</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="50" *ngIf="dataTagNoModels.length !== 0"
              (page)="onGetTagTab($event.pageIndex, $event.pageSize)" [length]="tagNoCount"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isShowITRBuilder" class="open-sidebar">
  <i class="fas fa-angle-double-left" (click)="openRightSide()"></i>
</div>

<div class="right-sidebar" *ngIf="isShowRightSideBar">
  <mat-sidenav [opened]="isShowRightSideBar" mode="over" position="end">
    <div class="container right-side-close">
      <div class="row">
        <div class="col-12 text-right mt-1">
          <button type="button" class="close" aria-label="Close" (click)="closeRightSideBar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <tag-side-menu [tagDescriptionDetail]="tagDescriptionDetail" [tagNoDetail]="tagNoDetail" [tagIdDetail]="tagIdDetail"
      [projectKey]="projectKey" [isShowITRBuilder]="isShowITRBuilder" [isLockedTag]="isLockedTag"
      (showITRBuilder)="onShowITRBuilder($event)" (showEditTagNo)="onShowEditTagNo($event)"
      [isConfirmSaveTagNo]="isConfirmSaveTagNo" (showEditAllocatedITRs)="onShowEditAllocatedITRs($event)"
      [isLoadDetailChart]="isLoadDetailChart" [tagUpdateIds]="tagUpdateIds" [isLoadTagItrByTag]="isLoadTagItrByTag"
      (showAddPunch)="onShowAddPunch($event)">
    </tag-side-menu>
  </mat-sidenav>
</div>

<div class="{{ isToggleDropdown ? 'overlay is-open' : '' }}" (click)="toggleDropdown()"></div>

<div class="{{ isToggleRightSide ? 'overlay-right-side is-open' : '' }}" (touchmove)="toggleRightSide()"
  (click)="toggleRightSide()"></div>

<confirm-modal *ngIf="isRevertState" [visible]="isRevertState" (confirm)="onRevertTagConfirm($event)"
  [header]="'Confirm'" [content]="'Are you sure you want to revert these tags?'"></confirm-modal>

<confirm-modal *ngIf="isSyncSelectedState" [visible]="isSyncSelectedState" (confirm)="onSyncSelectedConfirm($event)"
  [header]="'Confirm'" [content]="'Are you sure you want to sync these tags?'"></confirm-modal>

<confirm-modal *ngIf="isDeleteState" [visible]="isDeleteState" (confirm)="onDeleteConfirm($event)" [header]="'Confirm'"
  [content]="'Are you sure want to delete?'"></confirm-modal>

<confirm-modal *ngIf="isApplyState" [visible]="isApplyState" (confirm)="onApplyConfirm($event)" [header]="'Confirm'"
  [content]="'Are you sure you want to make these changes?'"></confirm-modal>

<confirm-modal *ngIf="isApplyToAllState" [visible]="isApplyToAllState" (confirm)="onApplyToAllConfirm($event)"
  [header]="'Confirm'" [content]="'Are you sure you want to make these changes?'"></confirm-modal>

<job-cards-info *ngIf="isShowJobCardsInfo" [visible]="isShowJobCardsInfo" [dataJobCards]="dataJobCards"
  (onSuccess)="onJobCardsInfoToAllConfirm($event)"></job-cards-info>

<confirm-modal *ngIf="isShowEditTagNo" [visible]="isShowEditTagNo" (confirm)="onSaveTagNoConfirm($event)"
  [header]="'Confirm'" [content]="'Are you sure want to save?'"></confirm-modal>

<edit-allocated-itrs *ngIf="isShowAllocatedITRs" (onSuccess)="onSuccessEditAllocatedITRs($event)"
  [projectKey]="projectKey" [tagId]="tagIdDetail" (tagUpdate)="onTagUpdateSuccess($event)"></edit-allocated-itrs>

<add-punch-item-tag *ngIf="isShowAddPunch" [tagId]="tagIdDetail" (onSuccess)="onSuccessAddPunchModal($event)">
</add-punch-item-tag>

<tag-drawings-info *ngIf="isShowDrawings" [visible]="isShowDrawings" [isPreview]="true" [tagId]="tagIdDrawing"
  [drawings]="drawings2Info" (onSuccess)="onPreviewDrawings($event)"></tag-drawings-info>