<div class="modal fade" id="subSystemsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content has-shadow">
      <div class="modal-header">
        <h5 class="modal-title">Sub-System</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" *ngIf="subSystemsLookUpModel && subSystemsLookUpModel.length > 0">
          <li class="list-group-item" *ngFor="let item of subSystemsLookUpModel; index as i;">
            <div class="float-left text-left">
              <span>{{item.value}}</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <a mat-raised-button data-dismiss="modal" (click)="onCancel()">Cancel</a>
      </div>
    </div>
  </div>
</div>
