#appMenu {
  #sideBar {
    position: relative;
    width: 175px;

    .sidebar-menu {
      max-height: calc(100% - 40px);
      height: calc(100% - 40px);
      overflow-y: auto;
      -webkit-overflow-scrolling: auto;
      position: relative;

      .menu-list {
        li {
          display: block;
          width: 100%;

          &:hover {
            > a {
              opacity: 0.7;
            }
          }

          &.menu-dashboard {
            a.active {
              text-align: center;
            }
          }

          &.menu-title {
            letter-spacing: 0.05em;
            pointer-events: none;
            cursor: default;
            font-size: 0.9rem;
            text-transform: uppercase;
            color: #435177;
            font-weight: 700;
          }

          a {
            display: block;
            padding: 0.5rem;
            color: #4c4c4c;
            position: relative;
            font-size: 0.875rem;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            border-radius: 3px;
            font-weight: 500;

            &.active {
              color: #fff !important;
              background-color: #3071b8;

              &:hover {
                opacity: 0.7;
              }
            }
          }

          a[aria-expanded="false"] {
            .fa-angle-up {
              display: none;
            }
          }

          a[aria-expanded="true"] {
            .fa-angle-down {
              display: none;
            }
          }

          ul.collapse {
            li {
              > a {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
    }

    .sidebar-footer {
      position: absolute;
      bottom: 0;
      width: 100%;

      img {
        width: 20px;
      }
    }
  }
}