<div class="modal fade prevent-scroll" id="tagDrawingsInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content has-shadow wrapper-content">
      <div class="modal-header">
        <h5 class="modal-title">Drawings Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overwrite-body-modal">
        <ul class="list-group" *ngIf="drawings && drawings.length > 0">
          <li class="list-group-item list-group-header py-2">
            <div class="row">
              <div class="col-4">
                No.
              </div>
              <div class="col-5">
                Description
              </div>
              <div class="col-3">
                Revision
              </div>
            </div>
          </li>

          <li class="list-group-item p-0" *ngFor="let item of drawings; index as i;">
            <div class="w-100 px-3 py-2" [ngClass]="item.url ? 'enable-a' : 'disable-a'">
              <a (click)="item.url ? switchFunc(item): null" target="_blank" rel="noopener noreferrer">
                <div class="row">
                  <div class="col-4">
                    <p class="text-break mb-0" matTooltip="{{item.drawingNo}}">{{item.drawingNo}}</p>
                  </div>
                  <div class="col-5">
                    <p class="text-truncate mb-0" matTooltip="{{item.description}}" matTooltipPosition="below">
                      {{item.description || 'no_file_name'}}
                    </p>
                  </div>
                  <div class="col-3">
                    <p class="text-truncate mb-0" matTooltip="{{item.revision}}">{{item.revision}}</p>
                  </div>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <a mat-raised-button data-dismiss="modal" (click)="onCancel()">Cancel</a>
      </div>
    </div>
  </div>
</div>