#resetPasswordSection {
    height: 100vh !important;
    background-color: #f4f6f9;

    .bg-login {
        background: url('../../../assets/img/bg-login.jpg') no-repeat;
        height: 100%;
        width: 100%;
        position: relative;
        background-size: cover;

        &::after {
            content: "";
            opacity: 0.4;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: #000;
            z-index: 1;
        }
    }

    .company-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        h3 {
            color: #fff;
            font-size: 3.65rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        p {
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .txt-reset-password {
        font-size: 1.8rem;
        color: #2c2c2c;
        font-weight: 500;
        text-align: center;
    }

    .authentication-form {
        width: 50%;

        .reset-password-form {
            margin: 2rem auto 0 auto;

            .login-control {
                padding: 0;
                margin: 1rem auto;
            }

            .btn-signIn {
                margin: 1rem 0;
                height: 50px;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                transition: all .3s ease 0s;
                box-shadow: 0 4px 16px 0 rgba(88, 103, 221, .15);
            }
        }
    }
}