<div class="container-fluid h-100" id="resetPasswordSection">
    <div class="row flex-row h-100">
        <div class="col-md-4 col-lg-4 p-0">
            <div class="bg-login">
                <div class="company-name text-center">
                    <img class="img-fluid mb-3" src="../../../assets/img/elements-logo.png" alt="Logo Company">
                    <h3>Elements</h3>
                    <p>Asset Integrity</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 my-auto">
            <div class="authentication-form mx-auto">
                <div class="card">
                    <div class="card-body p-5">
                        <h3 class="txt-reset-password">Reset password</h3>

                        <p class="mt-4 text-center">Please enter your new password</p>

                        <form class="reset-password-form" (ngSubmit)="onResetPassword(resetPasswordForm.value)"
                            [formGroup]="resetPasswordForm">
                            <div class="login-control">
                                <mat-form-field class="w-100">
                                    <input type="password" matInput placeholder="New password"
                                        formControlName="password" required autocomplete="off">
                                    <mat-error
                                        *ngIf="(resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched) && hasError('password', 'required')">
                                        This is required field</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="login-control">
                                <mat-form-field class="w-100">
                                    <input type="password" matInput placeholder="Confirm password"
                                        formControlName="rePassword" required autocomplete="off"
                                        [errorStateMatcher]="errorMatcher">
                                    <mat-error *ngIf="resetPasswordForm.hasError('passwordsDoNotMatch')">
                                        Passwords do not match
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="login-control">
                                Already remember account? <a [routerLink]="['', 'login']">Sign in</a>
                            </div>

                            <div *ngIf="isResetPasswordSuccess" class="success">
                                <p class="alert alert-success">
                                    Your password is change successfully.
                                </p>
                            </div>

                            <div *ngIf="isError" class="error mb-2">{{message}}</div>

                            <div class="text-center">
                                <button [disabled]="resetPasswordForm.invalid" class="btn btn-primary btn-signIn">Reset
                                    password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div [hidden]="!clientState.isBusy" class="loading-login">
                <loading-state></loading-state>
            </div>
        </div>
    </div>
</div>